body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
	background : white;
	color : black;
	margin : 0px;
	padding : 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

body#ttrssPrefs {
	background-color : #ecf4ff;
}

body#ttrssPrefs #footer, body#ttrssPrefs #header {
	background-color : #ecf4ff; 
	padding-left : 8px;
	padding-right : 8px;
}

div.postReply {
	padding : 0px;
}

div.postReply div.postHeader {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background : #fafafa;
	box-shadow : 0px 0px 3px 0px rgba(0,0,0,0.1);
	padding : 5px;
	color : #909090;
}

div.postReply div.postTitle {
	overflow : hidden;
	text-overflow: ellipsis;
	white-space : nowrap;
}

div.postReply div.postDate {
	padding-left : 10px;
}

div.postReply div.postContent {
	padding : 10px;
}

div.postReply div.postContent img {
	border-width : 0px;
	max-width : 98%;
	height: auto;
}

div.postReply div.postEnclosures {
	margin-top : 1em;
	color : #555;
}

div.postReply img.tagsPic {
	width : 16px;
	height : 16px;
	margin-left : 4px;
	vertical-align : middle;
}

div.articleNote {
	background-color : #fff7d5;
	padding : 5px;
	border-radius : 4px;
	margin : 5px;
	border-style : solid;
	border-color : #e7d796;
	border-width : 1px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
	background-color : #fff7d5;
	color : #9a8c59;
}

div.articleNote div.noteEdit {
	float : right;
	cursor : pointer;
}

div.postReply span.author {
	font-size : 12px;
}

h1 {
	font-size : 18px;
}

h2 {
	font-size : 16px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #ecf4ff;
}

h3 {
	font-size : 12px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #ecf4ff;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	max-width : 90%;
}

a {
	color : #4684ff;
	text-decoration : none;
}

a:hover {
	color : #88b0f0;
}

#piggie {
	z-index : 999;
	position : absolute;
}

#notify {
	bottom : 10px;
	right : 20px;
	border-width : 1px;
	border-style : solid;
	position : absolute;	
	font-size : 12px;
	z-index : 99;
	max-width : 200px;
	min-width : 100px;
	padding : 5px;
	-width : 200px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}

#notify img {
	vertical-align : middle;
	max-height : 14px;
}

#notify span.msg {
	width : 100%;
}

#notify span.close {
	text-align : right;
}

#notify span {
	display : table-cell;
	vertical-align : middle;
	padding : 4px;
}

.notify {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.progress {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.info {
	border-color : #88b0f0;
	background-color : #ecf4ff;
}

.notify.error {
	background-color : #ffcccc;
	border-color : #ff0000;
}

.hl div.hlTitle a {
	font-weight : bold;
	color : #777;
}

.hl.Unread div.hlTitle a {
	color : black;
}

.hl.active {
	box-shadow : inset 0px 0px 3px 0px rgba(0,0,0,0.1);
}

.hl.active div.hlTitle a {
	color : #4684ff;
	text-shadow : 1px 1px 2px #fff;
}

.hl.Selected {
	background : #f9fbff;
}

.hl.Grayed {
	color : #909090;
}

/* #headlines-frame div.hl:nth-child(even) {
	background : #fafafa;
} */

#headlines-frame.normal {

}

.hl {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
}

.hl.active {
	background : #ecf4ff ! important;
}

div.filterTestHolder {
	height : 300px;
	overflow : auto;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
	border-width : 1px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}


#content-insert blockquote, #headlines-frame blockquote, .dijitContentPane blockquote {
	margin : 5px 0px 5px 0px;
	color : #555;
	padding-left : 10px;
	border-width : 0px 0px 0px 4px;
	border-color : #c0c0c0;
	border-style : solid;
}

#content-insert code, #headlines-frame code, .dijitContentPane code {
	color : #009900;
	font-family : monospace;
	font-size : 12px;
}

#content-insert pre, #headlines-frame pre, .dijitContentPane pre {
	margin : 5px 0px 5px 0px;
	padding : 10px;
	color : #555;
	font-family : monospace;
	font-size : 12px;
	border-width : 0px;
	border-color : #c0c0c0;
	border-style : solid;
	background : #fafafa;
	display : block;
	max-width : 98%;
	overflow : auto;
}

div.notice, div.warning, div.error {
	padding : 4px 10px 4px 4px;
	display : inline-block;
	margin : 2px 0px 4px 0px;
	font-size : 12px;
	border-style : solid;
	border-color : #ccc;
	border-radius : 4px;
	border-width : 1px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

div.notice div.inner, div.warning div.inner, div.error div.inner {
	vertical-align : middle;
}

div.notice {
	background : #ecf4ff;
	border-color : #88b0f0;
}

div.warning {
	background : #fff7d5;
	border-color : #e7d796;;
}

div.error {
	background : #ffcccc;
	border-color : #ff0000;
}

div.warning img, div.notice img, div.error img {
	margin : 4px;
	vertical-align : middle;
}

div.warning span, div.notice span, div.error span {
	display : table-cell;
	vertical-align : middle;

}

ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px; 
}

div.prefHelp {
	color : #555;
	padding : 5px;
}

.insensitive {
	color : #555;
}

div#headlines-toolbar {
	border-width : 0px 0px 1px 0px;
	background-color : #fcfcfc;
	border-color : #c0c0c0;
	font-size : 12px;
	font-family : "Segoe UI", Tahoma, sans-serif;
	color : #555;
	padding : 0px;
	margin : 0px;
	overflow : hidden;
	height : 25px;
	line-height : 25px;
	padding-left : 4px;
}

div#headlines-toolbar .dijitSelect {
	font-size : 11px;
	position : relative;
	top : -2px;
}

div#headlines-toolbar span.r {
	float: right;
   position: relative;
	padding : 0 4px 0px 4px;
	text-align : right;
}	

#headlines-toolbar span.r .error a {
	color : red;
}

div#headlines-toolbar span.r a {
	color : #555;
}

span.contentPreview {
	color : #999;
	font-weight : normal;
	text-shadow : 1px 1px 2px #fff;
	font-size : 11px;
}

span.hlLabelRef {
	background-color : #fff7d5;	
	font-size : 8px;
	color : #063064;
	font-weight : normal;
	margin-left : 2px;
	padding : 1px 4px 1px 4px;
	display : inline-block;
	vertical-align : middle;
	white-space: nowrap;
	border-radius : 4px;
}

div.postHeader div.postDate {
	text-align : right;
	color : #909090;
	float : right;
}

div.postHeader div {
	padding-bottom : 3px;
}

#feedUpdateErrors {
	display : none;
}

#allEntryTags {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	padding-bottom : 5px;
	display : none;
}

a.hlFeed {
	display : block;
	white-space : nowrap;
	font-size : 9px;
	font-style : italic;
	font-weight : normal;
	border-radius : 4px;
	display : inline-block;
	padding : 1px 2px 1px 2px;
	margin-bottom : 2px;
	margin-top : 2px;
	color : #555;
}

a.hlFeed:hover {
	color : #4684ff;
}

img.markedPic, img.pubPic {
	cursor : pointer;
	vertical-align : middle;
}

div.tagCloudContainer {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

div.errorExplained {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul.feedErrorsList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul.feedErrorsList em {
	color : #555;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : white;
	list-style-type : none;
	padding : 0px;

}

ul.browseFeedList li {
	margin : 0px;
	padding : 2px 4px 2px 4px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

.noborder {
	border-width : 0px;
}

#overlay {
	background : white;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 100;
	position : absolute;
}

#overlay_inner {
	font-weight : bold;
	margin : 1em;
}

form {
	margin : 0px;
	padding : 0px;
}

#main_toolbar_form {
	margin : 0px;
	padding : 0px;
	display : table-cell;
	white-space : nowrap;
	width : 100%;
}

div.loadingPrompt {
	padding : 1em;
	text-align : center;
	font-weight : bold;
}

div.whiteBox {
	margin-left : 1px;
	text-align : center;
	padding : 1em;
}

/* html, body#ttrssMain, #main {
	width: 100%; 
	height: 100%;
	padding: 0; 
	margin: 0;
} */

#toolbar div.actionChooser {
	display : table-cell;
	text-align : right;
	padding-right : 3px;
}

div.autocomplete {
	position : absolute;
	width : 250px;
	background-color : white;
	border :1px solid #778899;
	margin : 0px;
	padding : 0px;
}

div.autocomplete ul {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

div.autocomplete ul li.selected { 
	background-color : #fff7d5;
}

div.autocomplete ul li {
	list-style-type : none;
	display : block;
	margin : 0;
	padding : 2px;
	height : 32px;
	cursor : pointer;
}

.hlTitle {
	overflow : hidden;
	white-space : nowrap;
	max-width : 500px;
	text-overflow : ellipsis;
}

div#headlines-frame.wide .hlTitle {
	max-width : auto;
	overflow : visible;
	white-space : normal;
}

.hl a.title.high, span.hlContent.high .contentPreview {
	color : #00aa00;
}
.hl.Unread a.title.high, .hl.Unread span.hlContent.high .contentPreview {
	color : #00dd00;
}

.hl a.title.low, span.hlContent.low .contentPreview,
.hl.Unread a.title.low, .hl.Unread span.hlContent.low .contentPreview {
	color : #909090;
	text-decoration : line-through;
}

img.hlScorePic {
	vertical-align : middle;
	width : 16px;
	height : 16px;
}

div.dlgSec {
	font-size : 12px;
	color : #555;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
}

div.dlgSecCont hr {
	height : 0px;
	line-height : 0px;
	border : 0px solid transparent;
	margin : 2px;
}

div.dlgSecCont > * {
	position : relative;
	top : -2px;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

span.labelColorIndicator {
	height : 16px;
	width : 16px;
	border-radius : 4px;
	line-height : 14px;
	vertical-align : middle;
	font-size : 9px;
	display : inline-block;
	border : 1px solid #ccc;
	background-color : #fff7d5;	
	color : #063064;
	text-align : center;
	box-shadow : 0px 0px 1px 0px rgba(0,0,0,0.1);
}

div#cmdline {
	position : absolute;
	left : 5px;
	bottom : 5px;
	font-size : 11px;
	color : #555;
	font-weight : bold;
	background-color : white;
	border : 1px solid #88b0f0;
	padding : 3px 5px 3px 5px;
	z-index : 5;
}

#feed_browser_spinner {
	vertical-align : middle;
	height : 18px;
	width : 18px;
}

div.hlTitle {
	display : table-cell;
	cursor : pointer;
	width : 100%;
	vertical-align : middle;
	padding-top : 4px;
	padding-bottom : 4px;
}

div.hlLeft {
	display : table-cell;
	vertical-align : middle;
	white-space: nowrap;
}

div.hlRight {
	display : table-cell;
	white-space: nowrap;
	text-align : right;
	vertical-align : middle;
}

div.hlRight img {
	max-width : 16px;
	max-height : 16px;
}

span.hlUpdated {
	color : #555;
	min-width : 100px;
	display : table-cell;
	width : 100%;
	vertical-align : middle;
	text-align : right;
	font-size : 10px;
}

div.hlLeft {
	padding-left : 8px;
}

div.hlLeft input {
	margin-left : 4px;
	margin-right : 4px;
}

div.hlLeft img, div.hlRight img {
	margin : 0px 4px;
}

div.hlLeft img {
	width : 16px;
	height : 16px;
}

div.fatalError {
	margin-bottom : 10px;
}

div.fatalError button {
	margin-top : 5px;
}

div.fatalError textarea {
	width : 100%;
	height : 100px;
}

#ttrssMain #main {
	border-width : 0px;
	margin : 0px;
	padding : 0px;
}

#header-wrap {
	border-width : 0px;
	margin : 0px;
	padding : 0px;
}

#content-wrap {
	padding : 0px;
	border-width : 0px 0px 0px 1px;
	border-style : solid;
  	border-color : #c0c0c0;
	margin : 0px;
}

#feeds-holder {
	padding : 0px;
	border-color : #c0c0c0;
	border-left-width : 0px;
	border-bottom-width : 0px;
	border-top-width : 0px;
	overflow : hidden;
	box-shadow : inset 0px 0px 3px rgba(0,0,0,0.1);
	background : #f9fbff;
}

#headlines-wrap-inner {
	padding : 0px;
	margin : 0px;
	border-width : 0px;
}

#headlines-frame {
	padding : 0px;
	border-color : #c0c0c0;
	border-style : solid;
	border-width : 0px;
	margin-top : 0px;
	box-shadow : inset 0px 0px 3px rgba(0,0,0,0.1);
}

#headlines-toolbar_splitter, #toolbar_splitter {
	display : none;
}

#toolbar {
	padding : 0px;
	margin : 0px;
	border-width : 0px;
	white-space: nowrap;
	font-size : 12px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.1);
}

#header {
	border-width : 0px;
	text-align : right;
	color : #555;
	padding : 5px 5px 0px 0px;
	margin : 0px;
	position : absolute;
	right : 0px;
	top : 0px;
	z-index : 5;
}

#footer {
	text-align : center;
	color : #555;
	padding : 4px 4px 8px 4px;
	border-width : 0px;
}

#content-insert {
	padding : 0px;
	border-color : #c0c0c0;
	border-bottom-width : 0px;
	border-right-width : 0px;
	border-left-width : 0px;
	line-height: 20px;
	overflow : auto;
}

#feedTree .dijitTreeRow .dijitTreeLabel.Unread {
	font-weight : bold;
}

#feedTree .dijitTreeRow.Error .dijitTreeLabel {
	color : red;
}

.dijitTreeLabel {
	outline : 0;
}

.feedParam {
	color : #555;
	float : right;
	margin-right : 1em;
}

.labelParam {
	float : right;
	margin-right : 1em;
}

.dijitTreeLabel.Disabled, .labelParam.Disabled {
	color : #555;
}

.dijitTreeRow.Error {
	color : red;
}

.dijitTreeRow.Hidden {
	display : none;
}

img.feedIcon, img.tinyFeedIcon {
	width : 16px;
	height : 16px;
	line-height : 16px;
	vertical-align : middle;
	display : inline-block;
}

.dijitToolbar {
	text-shadow : 1px 1px 2px #fff;
}

.dijitAccordionTitleFocus {
	text-shadow : 1px 1px 2px #fff;
}

.dijitDialog .dijitToolbar {
	border : 1px solid #c0c0c0;
}

.dijitDialog h2 {
	margin-top : 0px;
	margin-bottom : 4px;
	border-width : 0px;
}

.player {
	display : inline-block;
	color : #555;
	font-size : 11px;
	font-family : sans-serif;
	border : 1px solid #555;
	padding : 0px 4px 0px 4px;
	margin : 0px 2px 0px 2px;
	width : 50px;
	text-align : center;
	background : white;
}

.player.playing {
	color : #00c000;
	border-color : #00c000;
}

.player:hover {
	background : #f0f0f0;
	cursor : pointer;
}

#headlines-spacer {
	height : 100%;
	margin-left : 1px;
	text-align : center;
	padding : 1em;
	color : #555;
}

ul#filterDlg_Matches, ul#filterDlg_Actions {
	max-height : 100px;
	overflow : auto;
	list-style-type : none;
	border-style : solid;
  	border-color : #c0c0c0;
	border-width : 0px 1px 1px 1px;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul#filterDlg_Matches li, ul#filterDlg_Actions li {
	cursor : pointer;
	padding : 0px 0px 0px 5px;
}

ul#filterDlg_Matches li div.dijitCheckBox, ul#filterDlg_Actions li div.dijitCheckBox {
	margin-right : 5px;
}

ul.helpKbList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul.helpKbList span.hksequence {
	width : 6em;
	margin-left : 20px;
	color : #88b0f0;
	font-weight : bold;
	display : inline-block;
}

ul.helpKbList h2 {
	margin-top : 0px;
}

.dijitTreeNode .loadingNode {
	margin-left : 3px;
	height : 9px;
}

span.collapseBtn {
	cursor : pointer;
}

div.postContent p {
	max-width : 650px;
	text-align : justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

div.postContent iframe {
	min-width : 50%;
}

div.postHeader span.author {
	color : #555;
	font-size : 11px;
	font-weight : normal;
}

body#ttrssZoom {
	margin-left : auto;
	margin-right : auto;
	padding : 20px;
	max-width : 670px;
	background : #f9fbff;
}

body#ttrssZoom div.postHeader div.postDate {
	float : none;
	text-align : left;
	padding-left : 0px;
	color : #777;
	font-size : 10px;
}

body#ttrssZoom div.postContent p {
	max-width : 650px;
	text-align : justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

body#ttrssZoom div.postHeader {
	margin : 10px;
	border : 1px solid #ccc;
	box-shadow : none;
	border-radius : 4px;
}

body#ttrssZoom div.postReply {
	border : 1px solid #ccc;
	border-radius : 4px;
	box-shadow : inset 0px 0px 3px rgba(0,0,0,0.1);
	background : white;
}

body#ttrssZoom div.postContent {

}

body#ttrssZoom div.footer {
	margin-top : 1em;
	text-align : center;
}

body#ttrssZoom div.postContent img {
	max-width : 650px;
	height : auto;
} 

select.attachments {
	display : block;
	margin-top : 10px;
	max-width : 120px;
}

div.hl.active {
	border-color : #88b0f0;
}

#selected_prompt {
	margin-right : 25px;
}

#feedTree img.feedIcon {
	position : relative;
	top : -2px;
}

body#ttrssMain #feedTree .dijitTreeRow {
	padding : 2px 0px 2px;
	height : 22px;
	border-width : 1px;
	border-color : transparent;
	color : #333;
}

body#ttrssMain #feedTree .dijitFolderClosed,
body#ttrssMain #feedTree .dijitFolderOpened {
	display : none;
}

.dijitTreeNode .dijitCheckBox {
	margin-left : 4px;
}

body#ttrssMain #feedTree .dijitTreeIsRoot > .dijitTreeRow > .dijitTreeExpando {
	margin-left : 5px;
}

body#ttrssMain #feedTree .dijitTreeExpando {
	margin-top : 0px;
	opacity : 0.6;
}

body#ttrssMain #feedTree .dijitTreeNode {
	padding : 0px;
	border-width : 0px;
}

body#ttrssMain #feedTree { 
	height : 100%;
	overflow-x : hidden;
	font-family : "Segoe UI", Tahoma, sans-serif;
}

#feedTree .counterNode.aux {
	background : #f0f0f0;
	color : #999;
	border-color : #f0f0f0;
	text-shadow : none;
}

#feedTree .counterNode {
	font-weight : bold;
	display : inline-block;
	font-size : 9px;
	text-align : center;
	border : 1px solid #88b0f0;
	color : white;
	background : #88b0f0;
	border-radius : 4px;
	vertical-align : middle;
	float : right;
	position : relative;
	line-height : 14px;
	margin-right : 4px;
	margin-top : 3px;
	min-width : 23px;
	height : 14px;
	text-shadow : 1px 1px rgba(0,0,0,0.2);
}

#feedTree .dijitTreeRow {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

body#ttrssPrefs hr {
	border-color : #ecf4ff;
	max-width : 100%;
}

.dijitMenuItemLabel {
	font-size : 13px;
}

.dijitTreeRowSelected .dijitTreeLabel {
	text-shadow : 1px 1px 2px #fff;
}

#feedTree img[src*='indicator_white.gif'] {
	position : relative;
	top : -2px;
}

span.highlight {
	background-color : #ffff00;
	color : #cc90cc;
}
