body#ttrssZoom {
	margin-left : auto;
	margin-right : auto;
	padding : 20px;
	max-width : 670px;
	background : #f5f5f5;
}

body#ttrssZoom div.postHeader div.postFeedTitle {
	float : left;
	text-align : right;
	padding-left : 0px;
	font-size : 10px;
}

body#ttrssZoom div.postHeader a.postComments {
	text-align : right;
	padding-left : 0px;
	font-size : 10px;
}

body#ttrssZoom div.postHeader div.postDate {
	float : none;
	text-align : right;
	padding-left : 0px;
	color : #777;
	font-size : 10px;
}

body#ttrssZoom div.postHeader div.postTags {
	color : #777;
	font-size : 10px;
}

body#ttrssZoom div.postHeader div.postTitle {
	white-space : normal;
	font-size : 16px;
}

body#ttrssZoom div.postContent p {
	max-width : 650px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

body#ttrssZoom div.postHeader {
	margin : 10px;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color #eee;
	background : white;
}

body#ttrssZoom div.postReply {
	border : 1px solid #ddd;
	background : white;
}

body#ttrssZoom div.footer {
	margin-top : 1em;
	text-align : center;
}

body#ttrssZoom div.postContent img {
	max-width : 630px;
	height : auto;
} 

body#ttrssZoom div.postContent blockquote {
	margin : 5px 0px 5px 0px;
	color : #555;
	padding-left : 10px;
	border-width : 0px 0px 0px 4px;
	border-color : #ccc;
	border-style : solid;
}

body#ttrssZoom div.postContent code {
	color : #009900;
	font-family : monospace;
	font-size : 12px;
}

body#ttrssZoom div.postContent pre {
	margin : 5px 0px 5px 0px;
	padding : 10px;
	color : #555;
	font-family : monospace;
	font-size : 12px;
	border-width : 0px;
	border-color : #ccc;
	border-style : solid;
	background : #f5f5f5;
	display : block;
	max-width : 98%;
	overflow : auto;
}

