div.headlines_normal {
	position : absolute;
	border-width : 1px 1px 0px 0px;
	right : 400px;
	overflow : hidden;
	bottom : 40px;
	height : auto;
}

#content-frame {
	width : 400px;
	right : 0px;
	top : 85px;
	left : auto;
}

div.postHeader div.postDate {
	text-align : left;
	color : gray;
	float : none;
}

div.postHeader div.postDateRTL {
	text-align : left;
	color : gray;
	float : none;
}


