div.cdmHeader img, div.cdmHeader input, div.cdmFooter img {
	vertical-align : middle;
}

div.cdmHeader {
	display : table;
}

div.cdmHeader > * {
	display : table-cell;
	padding : 5px;
}

div.cdmHeader > div {
	white-space : nowrap;
}

div.cdmHeader > span {
	width : 100%;
}

div.cdmHeader span.updated {
	color : gray;
	font-weight : normal;
	font-size : 11px;
	white-space : nowrap;
	vertical-align : middle;
}

div.cdmHeader input {
	margin-right : 5px;
}

div.cdmHeader div.updPic {
	width : 25px;
	display : inline-block;
	text-align : center;
}

div.cdmHeader div.updPic img {
	vertical-align : middle;
}

div.cdmHeader img, div.cdmFooter img {
	margin : 0px 2px 0px 2px;
}

div.cdmContent, div.cdmContentInner * {
	font-weight : normal;
}

div.cdmContent a {
	color : #4684ff;
}

div.cdmContent a:hover {
	color : black;
}

div.cdmContentInner {
	margin : 10px;
}

div.cdmContentInner img {
	border-width : 0px;
	max-width : 98%;
}

div.cdmFooter {
	background-color : #f0f0f0;
	background-image : url("images/cdm_footer_tile.png");
	padding : 5px;
	font-weight : normal;
	color : gray;
	clear : both;
}

.Selected div.cdmFooter {
	background-color : #FFE587;
	background-image : url("images/cdm_footer_selected.png");
}

span.cdmExcerpt {
	font-size : 11px;
	color : gray;
	font-weight : normal;
	cursor : pointer;
}

div.cdmContent div.postEnclosures {
	margin-top : 1em;
	color : gray;
}

div.cdmFeedTitle {
	border-color : #a0a0a0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	padding : 5px 3px 5px 5px;
	background : url("images/toolbar.png") bottom left;
	background-repeat : repeat-x;
}

div.cdmFeedTitle a.title {
	color : gray;
	font-style : italic;
	font-weight : bold;
}
div.cdmFeedTitle a {
	color : gray;
}

div.cdmFeedTitle a:hover {
	color : #4684ff;
}

div.articleNote {
	border-style : dashed none dashed none;
}

div.cdmHeader span.hlFeed {
	float : right;
	font-weight : normal;
	font-style : italic;
}

div.cdm.expanded .cdmHeader {
	background : #EEF6FD;
}

div.cdm.expanded.Unread div.cdmHeader {
	background : #DCECFB;
}

div.cdm.expanded.Unread.Selected div.cdmHeader, div.cdm.expanded.Selected div.cdmHeader {
	background : #FFEA9E;
}

div.cdm.expanded.even.Unread, div.cdm.expanded.odd.Unread {
	background : white;
}

div.cdm.expanded.even, div.cdm.expanded.odd {
	background : #f9f9f9;
}

div.cdmHeader div.hlFeed, div.cdmHeader div.hlFeed a {
	vertical-align : middle;
	color : gray;
	font-weight : normal;
	font-style : italic;
	font-size : 11px;
}

div.cdmContentInner p {
	max-width : 650px;
}
