#infoBox {	
	font-size : small;
	position : relative;
	top : 30%;
	left : 30%;
	width : 30%;
	padding-bottom : 5px;	
} 

#infoBoxShadow {
	background-image : url("images/overlay.png");
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 3;
	position : absolute;
	display : none;
} 
