#infoBoxTitle {
	display : none;
}

#headlinesContainer {
	width: expression(((parseInt(document.getElementById("headlines-frame").clientWidth)-2)+'px'));
}

#headlinesInnerContainer {
	position : normal;
}

div.headlines_normal {
	overflow : auto;
}

div.headlines_cdm {
	overflow : auto;
}


