/* div.prefsTabSelected {
	bottom : 1px;
} */

table.headlinesList {
		width: expression(((parseInt(document.getElementById("headlinesInnerContainer").clientWidth)-0)+'px'));
}

ul.feedList {
	font-size : 10pt;
}

#dispSwitch {
	font-size : 9pt;
}

div.headlines_normal, div.headlines_cdm {
	font-size : 10pt;
}

