body {
	margin : 0px;
	padding : 0px;
	background : white;
	color : black;
}

h1 {
	font-size : 21pt;
	background-color : #f0f0f0;
	background-image : url("images/header.png");
	background-position : top left;
	background-repeat : repeat-x;
	height : 50px;
	padding-left : 80px;
	padding-top : 30px;
	font-weight : bold;
	color : black;
	border-width : 0px 0px 1px 0px;
	border-color : #c0c0c0;
	border-style : solid;

}

div {
	margin : 30px;
}

a {
	text-decoration : none;
}

.button {
	font-family : tahoma, sans-serif;
	border : 1px solid #d0d0d0;
	background-image : url("images/button.png");
	background-position : top;
	background-repeat : repeat-x;
	background-color : white;
	color : black;	
	padding : 2px 10px 2px 10px;
	font-size : small;
}

.button:hover {
	background : white;
	text-decoration : none;
	color : black;
}

