body {
	margin : 0px;
	padding : 0px;
	background : white;
	color : black;
}

h1 {
	font-size : 21pt;
	font-weight : bold;
	padding : 10px 0px 10px 30px;
	color : black;
	border-width : 0px 0px 1px 0px;
	border-color : #c0c0c0;
	border-style : solid;
	background-color : white;
	background-image : url("images/vgrad_light.png");
	background-position : bottom left;
	background-repeat : repeat-x;
}

div.opmlBody {
	margin : 30px;	
}

div.error {
	background : #fff0f0;
	border : 1px solid #c0c0c0;
	padding : 5px;
	font-size : x-small;
}

a {
	text-decoration : none;
}

.button {
	font-family : tahoma, sans-serif;
	border : 1px solid #d0d0d0;
	background-image : url("images/button.png");
	background-position : top;
	background-repeat : repeat-x;
	background-color : white;
	color : black;	
	padding : 2px 10px 2px 10px;
	font-size : small;
}

.button:hover {
	background : white;
	text-decoration : none;
	color : black;
}

a {
	color : black;
	text-decoration : none;
}

a:hover {
	color : #5050aa;
}

ul {
	list-style-type : none;
	margin : 0px;
	padding : 10px;	
}


