ul.feedCatList {
	position : relative;
	top: -1em;
}

li.feedCatHolder {
	margin : 0px;
	padding : 0px;
}

#infoBoxTitle {
	display : none;
}

#headlinesInnerContainer {
	position : normal;
}

div.headlines_normal {
	overflow : auto;
}

div.headlines_cdm {
	overflow : auto;
}
