body {
	background : white;
	color : black;
	margin : 0px;
	padding : 0px;
}

a {
	color : black;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;

}

td.header {
	font-size : 18pt;
	background : #f0f0f0;
	height : 100px;
	padding-left : 80px;
	font-weight : bold;
}

td.feeds {
	width : 180px;
	border-width : 1px 1px 0px 0px;
	border-color : #c0c0c0;
	border-style : solid;
	padding : 10px;
}

td.headlines {
	height : 25%;
	padding : 10px;
	border-width : 1px 0px 0px 0px;
	border-color : #c0c0c0;
	border-style : solid;
	overflow : scroll;
}

td.content {
	padding : 10px;
	border-width : 1px 0px 0px 0px;
	border-color : #c0c0c0;
	border-style : solid;
	overflow : scroll;
}

td.notify {
	height : 40px;
	border-width : 1px 0px 0px 0px;
	border-color : #c0c0c0;
	border-style : solid;
	font-size : small;
	text-align : center;
	color : gray;
}

.even {
	background-color : #f0f0f0;
}

.odd {


}


li {
	list-style-type : none;

}

ul {
	margin : 0px;
	padding : 0px;
	border : 1px solid #f0f0f0;
}
