ul.feedCatList {
	position : relative;
	top: -1em;
}

li.feedCatHolder {
	margin : 0px;
	padding : 0px;
}

#infoBoxTitle {
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #88b0f0;
	background-color : #88b0f0;
	padding : 2px;
	color : white;
}

#infoBox {	
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #88b0f0;
	font-size : small;
	position : relative;
	bottom : 2px;
	right : 2px;
	padding-bottom : 5px;	
	background-image : url("images/prefs-content.png");
	background-position : top left;
	background-repeat : repeat-x;
	background-color : white;
}

#infoBoxShadow {
	background-image : url("images/shadow.png");
	left : 30%;
	top : 30%;
	width : 30%;
	z-index : 3;
	position : absolute;
	display : none;
}

