/* only overrides go here */

body {
	font-size : 8pt;
}

table.main td.header {
	padding : 5px;
	height : 20px;
}

table.main td.prefsToolbar {
	border-width : 0px;
}

table.headlinesList {
	font-size : small;
}

table.main td.headlinesToolbarBox {
	padding : 0px;
}

table.main td.footer {
	height : 5px;
	font-size : x-small;
}

table.main td.headlines {
	height : 20%;
	font-size : x-small;
}

ul.feedList {
	font-size : x-small;
	padding : 0px;
	margin : 0px;
}

ul.feedList li {
	font-size : x-small;
}

table.main td.feeds {
	width : 250px;
}

td.headlinesToolbarBox td {
	font-size : x-small;
}

td.welcomePrompt {
	font-size : x-small;
}

#notify_body, #notify {
	font-size : x-small;
}

