body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
	background : white;
	color : black;
	margin : 0px;
	padding : 0px;
	font-family : sans-serif;
	font-size : 12px;
}

body#ttrssPrefs {
	background-color : #ecf4ff;
}

body#ttrssPrefs #footer, body#ttrssPrefs #header {
	background-color : #ecf4ff; 
	padding-left : 8px;
	padding-right : 8px;
}

div.postReply {
	padding : 0px;
}

div.postReply a {
	color : #4684ff;
}

div.postReply a:hover {
	color : black;
}

div.postReply div.postHeader {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	background-color : white;
	background : url("images/toolbar.png");
	background-position : bottom left;
	background-repeat : repeat-x;
	padding : 5px;
	color : #909090;
}

div.postReply div.postTitle {
	overflow : hidden;
	white-space : nowrap;
}

div.postReply div.postDate {
	padding-left : 10px;
}

div.postReply div.postContent {
	padding : 10px;
	font-size : 12px;
}

div.postReply div.postContent img {
	border-width : 0px;
	max-width : 98%;
}

div.postReply div.postEnclosures {
	margin-top : 1em;
	color : gray;
}

div.postReply img.tagsPic {
	width : 16px;
	height : 16px;
	margin-left : 4px;
	vertical-align : middle;
}

div.articleNote {
	background-color : #fff7d5;
	padding : 5px;
	border-style : none none dashed none;
	border-color : #e7d796;
	border-width : 1px;
	background-color : #fff7d5;
	color : #9a8c59;
}

div.articleNote div.noteEdit {
	float : right;
	cursor : pointer;
}

div.postReply span.author {
	font-size : 12px;
}

h1 {
	font-size : 18px;
}

h2 {
	font-size : 16px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #ecf4ff;
}

h3 {
	font-size : 12px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #ecf4ff;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : dashed;
	border-color : #e0e0e0;
}

a {
	color : black;
	text-decoration : none;
}

a:hover {
	color : #4684ff;
}

#piggie {
	z-index : 999;
	position : absolute;
}

#notify {
	border-width : 0px 1px 1px 1px;
	border-style : solid;
	top : 0px;
	right : 35%;
	min-width : 30%;
	position : absolute;	
	display : none;
	float : right;
	font-size : 12px;
	z-index : 99;
	padding : 5px 5px 5px 5px;
}

#notify img {
	vertical-align : middle;
}

.notifyProgress {
	border-color : #d7c47a;
	background-color : #fff7d5;
	color : black;
}

.notifyInfo {
	border-color : #7AD78E;
	background-color : #D5FFDB;
	color : black;
}

.notify {
	border-color : #d7c47a;
	background-color : #fff7d5;
	color : black;
}

.notifyError {
	background-color : #ffcccc;
	border-color : #ff0000;
	color : black;
}

.notifyError span:hover {
	color : red;
	cursor : pointer;
}

.Selected, .Selected td {
	background-color : #fff7d5 ! important;
}

.even.Unread.Selected, .even.Unread.Selected td {
	background : #fff7d5 ! important;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
}

.odd.Unread.Selected, .odd.Unread.Selected td {
	background : #fff7d5 ! important;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
}

.even.Selected, .even.Selected td {
	background : #fff7d5 ! important;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
	border-collapse : collapse;
}

.odd.Selected, .odd.Selected td {
	background : #fff7d5 ! important;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #e7d796;
	border-collapse : collapse;
}

.even.Grayed, .even.Grayed td {
	background : #f0f0f0;
	color : #909090;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	border-collapse : collapse;
}

.odd.Grayed {
	color : #909090;
}

.even, .even td {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background : #f0f0f0;
	border-collapse : collapse;
}

.odd, .odd td {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	border-collapse : collapse;
}

.even.Unread, .even.Unread td {
	background : #f0f0f0;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	border-collapse : collapse;
}

.odd.Unread, .odd.Unread td {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
}

.invisible {
	display : none;
}

/* preferences */

/* table.prefPrefsList tr:hover td.prefValue {
	color : #88b0f0;
}

table.prefPrefsList tr:hover td.prefValue input {
	color : #88b0f0;
} */

table.prefPrefsList h3 {
	margin-top : 0.5em;
	margin-bottom : 0px;
}

tr.title td {
	border-width : 0px 0px 1px 0px;
	border-color : #ecf4ff;
	border-style : solid;
	color : #4684ff;
}

tr.title td a {
	color : #4684ff;
}

tr.title td a:hover {
	color : black;
}

table.prefFeedList td.feedEditCat {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	padding-top : 0.5em;
}

table.prefFilterList td.filterEditCat {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #88b0f0;
	padding-top : 0.5em;
}

/* oh for the love of... */

table.prefFilterList tr.even,
table.prefFilterList tr.odd,
table.prefFilterList tr.evenSelected,
table.prefFilterList tr.oddSelected,
table.prefLabelList tr.even,
table.prefLabelList tr.odd,
table.prefLabelList tr.evenSelected,
table.prefLabelList tr.oddSelected,
table.prefUserList tr.even,
table.prefUserList tr.odd,
table.prefUserList tr.evenSelected,
table.prefUserList tr.oddSelected,
table.prefFeedList tr.even,
table.prefFeedList tr.odd,
table.prefFeedList tr.evenSelected,
table.prefFeedList tr.oddSelected,
table.prefInstanceList tr.even,
table.prefInstanceList tr.odd,
table.prefInstanceList tr.evenSelected,
table.prefInstanceList tr.oddSelected
{	
	cursor : pointer;
}

table.prefFilterList tr.even:hover td, 
table.prefFilterList tr.odd:hover td,
table.prefFilterList tr.evenSelected:hover td, 
table.prefFilterList tr.oddSelected:hover td 
table.prefLabelList tr.even:hover td, 
table.prefLabelList tr.odd:hover td,
table.prefLabelList tr.evenSelected:hover td, 
table.prefLabelList tr.oddSelected:hover td,
table.prefUserList tr.even:hover td, 
table.prefUserList tr.odd:hover td,
table.prefUserList tr.evenSelected:hover td, 
table.prefUserList tr.oddSelected:hover td,
table.prefFeedList tr.even:hover td, 
table.prefFeedList tr.odd:hover td,
table.prefFeedList tr.evenSelected:hover td, 
table.prefFeedList tr.oddSelected:hover td,
table.prefInstanceList tr.even:hover td, 
table.prefInstanceList tr.odd:hover td,
table.prefInstanceList tr.evenSelected:hover td, 
table.prefInstanceList tr.oddSelected:hover td
{
	color : #88b0f0;
}

table.prefFeedList td.feedIcon {
	text-align : center;
}

table.prefFeedList td.feedSelect {
	text-align : center;
}

div.prefFeedCatHolder, div.prefFeedOPMLHolder, div.inactiveFeedHolder, div.filterTestHolder {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
}

div.prefFeedOPMLHolder, div.filterTestHolder {
	border-width : 1px 1px 1px 1px;
}

a.helpLink {
	color : #808080;
}

a.helpLink:hover {
	color : #4684ff;
}

#content-insert pre, #headlines-frame pre, .dijitContentPane pre {
	margin : 0px 0px 0px 1em;
	padding : 0px;
	font-family : monospace;
	font-size : 12px;
	background : transparent;
	border-width : 0px;
	color : gray;
}

#content-insert blockquote, #headlines-frame blockquote, .dijitContentPane blockquote {
	margin : 0px 0px 0px 1em;
	border-width : 0px 0px 0px 2px;
	border-color : #c0c0c0;
	border-style : solid;
	font-style : italic;
	padding : 0px 0px 0px 1em;
	font-size : 12px;
	color : gray;
}

#content-insert code, #headlines-frame code, .dijitContentPane code {
	background : transparent;
	border : 0px solid transparent;
	margin : 0px;
	font-family : monospace;
	padding : 0px;
	font-size : 12px;
	color : black;
}

div.notice {
	background : #ffffff;
	border : 1px solid #88b0f0;
	width : 60%;
	padding : 5px;
	margin : 0px 0px 5px 0px;
	font-size : 12px;
}

div.warning {
	background : #fff7d5;
	border : 1px solid #d7c47a;
	font-size : 12px;
	width : 60%;
	padding : 5px;
	margin : 0px 0px 5px 0px;
}

div.warning img, div.notice img, div.error img {
	vertical-align : middle;
	padding : 5px;
}

span.filterDateError {
	color : #ff0000;
}

div.error {
	border : 1px solid #ff0000;
	background : #ffcccc;
	padding : 5px;
	margin : 0px 0px 5px 0px;
	font-size : 12px;
}

ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px; 
}

div.prefHelp, td.prefHelp {
	color : gray;
	padding : 5px;
}

span.feed_error {
	color : red;
}

.insensitive {
	color : gray;
}

.insensitive a {
	color : #4684ff;
}

.insensitive a:hover {
	color : black;
}

.small {
	font-size : 11px;
}

table.innerFeedTable td {
	margin : 0px;
	padding : 0px;
}

td.selectPrompt {
	font-size : 12px;
	color : gray;
}

div#headlines-toolbar {
	border-width : 0px 0px 1px 0px;
	background-color : #f0f0f0;
	border-color : #88b0f0 #88b0f0 #ecf4ff #88b0f0;
	font-size : 11px;
	font-family : "Segoe UI", Tahoma, sans-serif;
	color : gray;
	padding : 0px;
	margin : 0px;
	overflow : hidden;
	height : 25px;
	line-height : 25px;
	padding-left : 4px;
}

div#headlines-toolbar .dijitSelect {
	font-size : 11px;
	position : relative;
	top : -2px;
}

div#headlines-toolbar span.r {
	float: right;
   position: relative;
	padding : 0 4px 0px 4px;
	text-align : right;
}	

div#headlines-toolbar span.r span.error {
	color : red;
} 

div#headlines-toolbar span.r a {
	color : gray;
}

div#headlines-toolbar span.r a:hover {
	color : black;
}

span.contentPreview {
	color : gray;
	font-weight : normal;
}

span.contentPreview:hover {
	color : #4684ff;
}

span.hlLabelRef {
	background-color : #fff7d5;	
	font-size : 8px;
	color : #063064;
	font-weight : normal;
	margin : 0px 3px 0px 3px;
	padding : 0px 4px 0px 4px;
	white-space: nowrap;
}

td.hlSelectRow, td.hlUpdPic {
	width : 25px;
	text-align : center;
}

div.postHeader div.postDate {
	text-align : right;
	color : gray;
	float : right;
}

div.postHeader div {
	padding-bottom : 3px;
	font-size : 12px;
}

#feedUpdateErrors {
	display : none;
}

#allEntryTags {
	font-size : 12px;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	padding-bottom : 5px;
	display : none;
}

td.hlMarkedPic, td.hlSelectRow, td.hlUpdated, td.hlFeed {
	height : 1em;
}

td.hlFeed {
	text-align : right;
}

span.hlFeed, span.hlFeed a {
	font-size : 12px;
	color : gray;
}

span.hlFeed a:hover {
	color : #4684ff;
}

img.markedPic {
	cursor : pointer;
	vertical-align : middle;
}

a.warning {
	color : #f04040;
}

div.tagCloudContainer {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
}

div.errorExplained {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.selfUpdateList {
	height : 200px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList em {
	color : gray;
}

ul.userFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid gray;
	background-color : white;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : white;
	list-style-type : none;
	padding : 0px;

}

ul.browseFeedList li {
	margin : 0px;
	padding : 2px 4px 2px 4px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

.noborder {
	border-width : 0px;
}

#overlay {
	background : white;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 100;
	position : absolute;
}

#overlay_inner {
	font-weight : bold;
	margin : 1em;
}

form {
	margin : 0px;
	padding : 0px;
}

#main_toolbar_form {
	margin : 0px;
	padding : 0px;
	display : table-cell;
	white-space : nowrap;
	width : 100%;
}

div.loadingPrompt {
	padding : 1em;
	text-align : center;
	font-weight : bold;
}

div.whiteBox {
	margin-left : 1px;
	text-align : center;
	padding : 1em;
}

html, body#ttrssMain, #main {
	width: 100%; 
	height: 100%;
	border: 0; 
	padding: 0; 
	margin: 0;
} 

html, body#ttrssPrefs, #main {
	width: 100%; 
	height: 100%;
	border: 0; 
	padding: 0; 
	margin: 0;
} 

#toolbar div.actionChooser {
	display : table-cell;
	text-align : right;
	padding-right : 3px;
}

/* preferences layout */

div.return {
	float : right;
	font-size : 12px;
	margin-right : 10px;
}

div.return a {
	color : #4684ff;
}

div.return a:hover {
	color : black;
}

#header .logo {
	float : right;
	margin-left : 10px;
}

#header a {
	color : #4684ff;	
}

#header a:hover {
	color : black;
}

#header img {
	vertical-align : middle;
	cursor : pointer;
}

a.helpLinkPic img {
	border-width : 0px;
	vertical-align : middle;
}

div.autocomplete {
	position : absolute;
	width : 250px;
	background-color : white;
	border :1px solid #778899;
	margin : 0px;
	padding : 0px;
}

div.autocomplete ul {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

div.autocomplete ul li.selected { 
	background-color : #fff7d5;
}

div.autocomplete ul li {
	list-style-type : none;
	display : block;
	margin : 0;
	padding : 2px;
	height : 32px;
	cursor : pointer;
}

#feedOpToolbar {
	float : right;
}

#header a.feedback {
	color : #009900;
}

a.visibleLink {
	color : #4684ff;
}

a.visibleLinkB {
	color : #4684ff;
	border : 1px solid #4684ff;
	padding : 2px;
}

a.visibleLinkB:hover {
	background-color : #ecf4ff;
}

.hlContentH a, .hlContentH span {
	color : #00cc00;
}

.hlContentL a, .hlContentL span {
	color : #909090;
	text-decoration : line-through;
}

span.titleWrapH, span.titleWrapH a {
	color : #00cc00;
}

span.titleWrapL, span.titleWrapL a {
	color : #909090;
	text-decoration : line-through;
}

img.hlScorePic {
	vertical-align : middle;
	width : 16px;
	height : 16px;
}

div.dlgSec {
	font-size : 12px;
	color : gray;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
}

div.dlgSecCont hr {
	height : 0px;
	line-height : 0px;
	border : 0px solid transparent;
	margin : 2px;
}

div.dlgSecCont > * {
	position : relative;
	top : -2px;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

span.labelColorIndicator {
	height : 14px;
	width : 14px;
	line-height : 14px;
	font-size : 9px;
	display : inline-block;
	border : 1px solid black;
	background-color : #fff7d5;	
	color : #063064;
	text-align : center;
	margin-right : 2px;
}

span.labelColorIndicator2 {
	height : 14px;
	width : 14px;
	font-size : 9px;
	display : inline-block;
	border : 1px solid black;
	background-color : #fff7d5;	
	color : #063064;
	text-align : center;
	margin-right : 2px;
	vertical-align : bottom;
}

div#cmdline {
	position : absolute;
	left : 5px;
	bottom : 5px;
	font-size : 11px;
	color : gray;
	font-weight : bold;
	background-color : white;
	border : 1px solid #88b0f0;
	padding : 3px 5px 3px 5px;
	z-index : 5;
}

#feed_browser_spinner {
	vertical-align : middle;
	height : 18px;
	width : 18px;
}

div#auxDlg {
	position : absolute;
	z-index : 3;
	bottom : 5px;
	right : 25px;
	padding : 5px;
	border-width : 1px;
	border-style : solid;
	border-color : #d7c47a;
	background-color : #fff7d5;
	color : black;
	text-align : center;
	font-size : 13px;
}

div#auxDlg a {
	color : #4684ff;
}

div.hlTitle {
	display : table-cell;
	cursor : pointer;
	width : 100%;
	vertical-align : middle;
	padding-top : 4px;
	padding-bottom : 4px;
}

div.hlLeft {
	display : table-cell;
	vertical-align : middle;
	white-space: nowrap;
}

div.hlRight {
	display : table-cell;
	white-space: nowrap;
	text-align : right;
	vertical-align : middle;
}

div.hlRight img {
	max-width : 16px;
	max-height : 16px;
}

span.hlUpdated {
	color : gray;
	min-width : 100px;
	display : table-cell;
	width : 100%;
	vertical-align : middle;
	padding-top : 4px;
	padding-bottom : 4px;
	text-align : right;
}

div.hlLeft {
	padding-left : 8px;
}

div.hlLeft input {
	margin-left : 4px;
	margin-right : 4px;
}

div.hlLeft img, div.hlRight img {
	margin : 0px 4px 0px 4px;
}

div.hlLeft img {
	width : 16px;
	height : 16px;
}

div.fatalError {
	margin-bottom : 10px;
}

div.fatalError button {
	margin-top : 5px;
}

div.fatalError textarea {
	width : 100%;
	height : 100px;
}

#main {
	border-width : 0px;
	margin : 0px;
	padding : 0px;
}

#header-wrap {
	border-width : 0px;
	margin : 0px;
	padding : 0px;
}

#content-wrap {
	padding : 0px;
	border-width : 0px 0px 1px 1px;
	border-style : solid;
  	border-color : #c0c0c0;
	margin : 0px;
}

#feeds-holder {
	padding : 0px;
	border-color : #88b0f0;
	border-left-width : 0px;
	border-bottom-width : 0px;
	border-top-width : 0px;
	overflow : auto;
}

#headlines-wrap-inner {
	padding : 0px;
	margin : 0px;
	border-width : 0px;
}

#headlines-frame {
	padding : 0px;
	border-color : #88b0f0;
	border-left-width : 0px;
	border-right-width : 0px;
	margin-top : 0px;
	border-top-width : 0px;
}

#headlines-toolbar_splitter, #toolbar_splitter {
	display : none;
}

#toolbar {
	padding : 0px;
	margin : 0px;
	border-width : 0px;
	white-space: nowrap;
	font-size : 11px;
}

#header {
	border-width : 0px;
	text-align : right;
	color : gray;
	padding : 5px 5px 0px 0px;
	margin : 0px;
	position : absolute;
	right : 0px;
	top : 0px;
	z-index : 5;
}

#footer {
	text-align : center;
	color : gray;
	padding : 4px 4px 8px 4px;
	border-width : 0px;
}

#content-insert {
	padding : 0px;
	border-color : #88b0f0;
	border-bottom-width : 0px;
	border-right-width : 0px;
	border-left-width : 0px;
	overflow : auto;
}

.dijitTreeLabel.Unread {
	font-weight : bold;
}

.feedParam {
	color : gray;
	float : right;
	margin-right : 1em;
}

.dijitTreeLabel.Disabled, .labelParam.Disabled {
	color : gray;
}

.dijitTreeRow.Error {
	color : red;
}

.dijitTreeRow.Hidden {
	display : none;
}

img.feedIcon, img.tinyFeedIcon {
	width : 16px;
	height : 16px;
	vertical-align : middle;
}

div#feedlistLoading, div#filterlistLoading, div#labellistLoading {
	text-align : center;
	padding : 5px;
	color : gray;
}

div#feedlistLoading img, div#filterlistLoading img, div#labellistLoading {
	margin-right : 5px;
}

div#pref-tabs .dijitContentPane {
	font-size : 12px;
}

div#pref-tabs {
	margin : 0px 5px 0px 5px;
}

div#pref-tabs .dijitContentPane h3 {
	font-size : 14px;
	font-weight : bold;
}

#pref-filter-wrap, #pref-filter-header, #pref-filter-content, 
#pref-label-wrap, #pref-label-header, #pref-label-content,
#pref-user-wrap, #pref-user-header, #pref-user-content, 
#pref-instance-wrap, #pref-instance-header, #pref-instance-content {
	margin : 0px;
	padding : 0px;
	border-width : 0px;
}

#userConfigTab, #labelConfigTab, #filterConfigTab, #pref-feeds-feeds, #instanceConfigTab { 
	padding : 0px;
}

#errorButton {
	color : red;
}

span.labelFixedLength {
	display : inline-block;
	width : 70%;
}

#filter_dlg_date_chk_box {
	display : inline-block;
}

.dijitDialog .dijitToolbar {
	border : 1px solid #c0c0c0;
}

a.bookmarklet {
	color : #4684ff;
	border : 1px solid #ecf4ff;
	padding : 2px;
}

.player {
	display : inline-block;
	color : gray;
	font-size : 11px;
	font-family : sans-serif;
	border : 1px solid gray;
	padding : 0px 4px 0px 4px;
	margin : 0px 2px 0px 2px;
	width : 50px;
	text-align : center;
	background : white;
}
.player.playing {
	color : #00c000;
	border-color : #00c000;
}

.player:hover {
	background : #f0f0f0;
	cursor : pointer;
}

#headlines-spacer {
	height : 100%;
	margin-left : 1px;
	text-align : center;
	padding : 1em;
	color : gray;
}

td.error { 
	color : red;
}

div.dialogNotice {
	margin-bottom : 5px;
	color : gray;
}

ul#filterDlg_Matches, ul#filterDlg_Actions {
	max-height : 100px;
	overflow : auto;
	list-style-type : none;
	border-style : solid;
  	border-color : #c0c0c0;
	border-width : 0px 1px 1px 1px;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

ul#filterDlg_Matches li, ul#filterDlg_Actions li {
	cursor : pointer;
	padding : 0px 0px 0px 5px;
}

ul#filterDlg_Matches li div.dijitCheckBox, ul#filterDlg_Actions li div.dijitCheckBox {
	margin-right : 5px;
}

table.prefPluginsList td label, table.prefUserList td {
	cursor : pointer;
}

ul.helpKbList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.helpKbList span.hksequence {
	width : 6em;
	margin-left : 20px;
	color : #88b0f0;
	font-weight : bold;
	display : inline-block;
}

ul.helpKbList h2 {
	margin-top : 0px;
}
