body {
	margin : 2em;
	padding : 0em;
}

p.warning {
	color : red;
}

p.query {
	color : green;
}

p.insensitive {
	color : gray;
}

.floatingLogo {
	float : right;
}

a {
	color : #4684ff;
	text-decoration : none;
}

a:hover {
	color : black;
}

