body {
	padding : 0px;
	margin : 0px;
	width : 640px;
}

input {
	border : 1px solid #a0a0a0;
}

.button {
	border : 1px solid #d0d0d0;
	background-image : url("../images/button.png");
	background-position : top;
	background-repeat : repeat-x;
	background-color : white;
	color : black;	
}

.button:hover {
	background : white;
	text-decoration : none;
	color : black;
}

#opsel {
	margin-top : 3px;
}

#heading {
	padding : 2px;
}

#content {
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background-image : url("../images/vgrad_light_rev.png");
	background-position : top left;
	background-repeat : repeat-x;
}

#footer {
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	text-align : center;
	font-size : x-small;
	background-color : white;
	color : gray;
	padding : 2px;
}

form {
	padding : 0px;
	margin : 0px;
}

ul.feedList {
	list-style-type : none;
	margin : 5px;
	padding : 0px 0px 0px 10px;
}

ul.feedList li.feedCat {
	margin : 0px;
	padding : 3px 0px 3px 0px;
	color : #707070;
	font-size : x-small;
}

ul.feedList li.feedCat a {
	color : #707070;
}

ul.feedList li.feedCat a:hover {
	color : #5050aa;
}

ul.feedCatList {
	list-style-type : none;
	margin : 0px 0px 0px 20px;
	padding : 0px;	
}

ul.feedCatList li {
	margin : 0px;
	padding : 0px 0px 0px 0px;
	color : black;
}

ul.feedList li {
	margin : 0px;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : dashed;
	border-color : #e0e0e0;
}

a {
	color : black;
	text-decoration : none;
}

a:hover {
	color : #5050aa;
}

ul.feedList img, img.tinyFeedIcon {
	margin : 0px 3px 0px 0px;
	width : 16px;
	height : 16px;
	border-width : 0px;
}

ul.feedlist li.feedUnread, 
ul.feedlist li.errorUnread, 
ul.feedlist li.labelUnread, 
ul.feedlist li.virtUnread,
ul.feedlist li.tagUnread {
	font-weight : bold;
}

.even {
	background-color : #f0f0f0;
}

.evenUnread {
	background-color : #f0f0f0;
	font-weight : bold;
}

.oddUnread {
	font-weight : bold;
}

.invisible {
	display : none;
}


