div.postReply div.postHeader {
	border : 1px solid #a2aab7;
}

ul.feedList li.feedCat a:hover {
	color : #5d6978;
}

li.feedSelected a,
li.labelSelected a,
li.virtSelected a,
li.tagSelected a {
	color : #5d6978;
}

li.feedUnreadSelected a,
li.labelUnreadSelected a,
li.virtUnreadSelected a,
li.tagUnreadSelected a {
	color : #5d6978;
}

a:hover {
	color : #5d6978;
}

/* preferences */

tr.title td {
	color : #5d6978;
}

tr.title td a {
	color : #5d6978;
}

table.prefFeedList td.feedEditCat {
	border-color : #a2aab7;
}

div.prefFeedCatHolder {
	border : 1px solid #a2aab7;
}

a.helpLink:hover {
	color : #5d6978;
}

#infoBoxTitle {
	border-color : #a2aab7;
	background-color : #a2aab7;
}


#infoBox {	
	border-color : #a2aab7;
	background : white;
}

div.infoBoxContents a {
	color : #5d6978;
}

div.prefsTab {
	border-color : #a2aab7;
}

div.prefsTabSelected {
	border-color : #a2aab7;
	background-color : #e3edf9;
}

table.loginForm {
	background-color : #c8d1dc;
}

table.innerLoginForm {
	border : 1px solid #a2aab7;
}

.insensitive a {
	color : #5d6978;
}

span.contentPreview:hover {
	color : #5d6978;
}

div.cdmArticle {
	border-color : #c0c0c0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	background-color : #fafafa;
	margin : 0px;
	padding : 10px;
}

div.cdmArticleUnread {
	border-color : #c0c0c0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	background-color : #fafeff;
	margin : 0px;
	padding : 10px;
}

div.cdmArticleSelected, div.cdmArticleUnreadSelected {
	margin : 0px;
	padding : 10px;
	background-color : #fff7d5;
	border-color : #e7d796;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
}

div.cdmHeader a:hover {
	color : #5d6978;
}

span.groupPrompt {
	color : #5d6978;
}

ul.feedErrorsList {
	border : 1px solid #a2aab7;
}

ul.userFeedList {
	border : 1px solid #a2aab7;
}

ul.labelTestResults {
	border : 1px solid #a2aab7;
}

ul.filterTestResults {
	border : 1px solid #a2aab7;
}

ul.browseFeedList {
	border : 1px solid #a2aab7;
}

div.cdmContent a {
	color : #5d6978;
}

a.cdmToggleLink:hover {
	color : #5d6978;
}

span.debugTS {
	color : #5d6978;
}

table.loginForm2 .loginTop {
	border-color : #a2aab7;
	}


table.loginForm2 .loginBottom {
	border-color : #a2aab7;
}

table.loginForm2 .loginBottom a:hover {
	color : #5d6978;
}

/* layout */

#header {
	color : #5d6978;
}

#feeds-holder {
	border-color : #a2aab7;
}

#toolbar {
	background-image : url("images/toolbar.png");
}

div.headlines_normal {
	border-color : #a2aab7;
}

div.headlines_cdm {
	border-color : #a2aab7;
}

#content-frame {
	border-color : #a2aab7;
}

#footer, #prefFooter {
	background-image : url("images/footer.png");
	border-color : #a2aab7;

}

/* preferences layout */

#prefHeader {
	color : #5d6978;
}

div.return a {
	color : #5d6978;
}

#prefContent {
	background-image : url("images/prefs-content.png");
	border-color : #a2aab7;
}

