body {
	background : #f0f0f0;
}

#toolbar {
	background : #f0f0f0;
}

#feeds-holder {
	background : #fafafa;
	border-color : #909090;
	border-style : solid;
}

div.headlinesSubToolbar {
	background : url("images/subtoolbar.png") top left;
}

div.headlines_normal {
	border-color : #909090;
	background : #f0f0f0;
}

div.headlines_cdm {
	border-color : #909090;
	background : #f0f0f0;
}

div#headlinesContainer {
	background : #f0f0f0;
}

div#headlinesInnerContainer {
	background : #fafafa;
}

#footer, #prefFooter {
	background : #f0f0f0;
	color : gray;
	border-color : #909090;
}

div.postReply div.postHeader {
	background : #fafafa;
	border-color : #909090;
}

/*div.postReply a {
	color : gray;
}*/

#resize-grabber {
	border-color : #909090;
	background : #f0f0f0;
}

#prefContentOuter {
	background : #f0f0f0;
	border-color : #909090;
}

#prefContent {
	background : #fafafa;
}

div.prefsTab:hover {
	border-color : #c0c0c0;
}

div.prefsTab {
	border-color : #f0f0f0;
}

div.prefsTabSelected {
	border-color : #909090;
	background : url("images/prefs_tab.png");
}

tr.title td {
	color : gray;
	font-weight : bold;
	border-color : #c0c0c0;
}

tr.title td a {
	color : gray;
}

table.prefFeedList td.feedEditCat {
	border-color : #c0c0c0;
}

h3 {
	border-color : #c0c0c0;
}

table.prefFilterList td.filterEditCat {
	border-color : #c0c0c0;
}

#content-frame {
	border-color : #909090;
}

#content-insert {
	background : #f0f0f0;
}

button[disabled], input[disabled], select[disabled], textarea[disabled] {
	background : #f0f0f0;
	color : gray;
}

input, select, button {
	background : #f0f0f0;
	border : 1px solid #c0c0c0;
	color : #404040;
	padding : 2px 4px 2px 4px;
	font-size : 12px;
	font-family : "Lucida Grande", "Segoe UI", Tahoma, Arial, sans-serif;
}

button:active {
	background : url("images/button_pressed.png") top left;
	background-repeat : repeat-x;
}

button {
	background : url("images/button.png") top left;
	background-repeat : repeat-x;
}

textarea {
	background : #f0f0f0;
	border : 1px solid #c0c0c0;
	color : #gray;
}

select {
	padding : 2px 0px 2px 4px;
}

div.tagCloudContainer {
	border : 1px solid #88b0f0;
}

div.infoBoxContents a {
	color : #5d82c0;
}


#infoBoxTitle {
	border-color : #88b0f0;
	background : #88b0f0;
	text-shadow : #5d82c0 0px 1px 0px;
}


#infoBox {	
	border-color : #88b0f0;
	background : #ecf4ff;
}

ul.browseFeedList, ul.userFeedList {
	border : 1px solid #88b0f0;
}

div.prefFeedCatHolder {
	border : 1px solid #88b0f0;
}

