#content-insert {
	border-left-width : 1px;
	border-bottom-width : 0px;
}

#headlines-frame {
	border-right-width : 1px;
}

/* div.headlines_normal {
	position : absolute;
	border-width : 1px 1px 0px 0px;
	right : 400px;
	overflow : hidden;
	bottom : 0px;
	height : auto;
}

#content-frame {
	width : 400px;
	right : 0px;
	top : 0px;
	left : auto;
	border-width : 0px 0px 0px 1px;
	bottom : 0px;
}

#feeds-frame, #dispSwitch {
	padding-top : 30px;
}

#feeds-holder {
	top : 0px;
	border-width : 0px 1px 0px 0px;
}

#toolbar {
	top : 3px;
}

#headlines-frame {
	top : 30px;
}

div.postHeader div.postDate {
	text-align : left;
	color : gray;
	float : none;
}

div.postHeader div.postDateRTL {
	text-align : left;
	color : gray;
	float : none;
}

span.headlineInnerTitle {
	display : none;
}

#resize-grabber {
	height : 100%;
	width : 5px;
	border-width : 0px 1px 0px 0px;
	cursor : move;
	text-align : center;
	float : left;
	background : url("images/resize_vert.png") top left;
}

#content-insert {
	position : absolute;
	left : 6px;
	right : 0px;
	bottom : 0px;
	top : 0px; 

} */


/*#footer, #prefFooter {
        display : none;
}

#header, #prefHeader {
        display : none;
}


#prefContent {
        bottom : 0px;
} */
