body {
	background : #202020;
}

a {
	color : gray;
}

a:hover {
	color : #b077ec;
}

h3 {
	border-color : #202020;
	color : #f0f0f0;
}

#overlay {
	background : #202020;
	color : gray;
}

div#l_progress_o {
	background-color : #3c2c4c;
}

div#l_progress_i {
	background-color : #b077ec;
}

#header {
	
}

#footer, #prefFooter {
	background : #202020;
	color : gray;
	border-color : #404040;
}

#footer a:hover {
	color : #b077ec;
}

#feeds-holder {
	background : #404040;
	border-style : solid;
	border-color : #202020;
}

#toolbar {
	background : #202020;
}

option {
	color : #b077ec;
}

button[disabled], input[disabled], select[disabled], textarea[disabled] {
	background : #404040;
	color : gray;
}

input, select, button {
	background : #3c2c4c;
	border : 1px solid black;
	color : #b077ec;
	padding : 2px 4px 2px 4px;
}

button:active {
	background : url("images/button_pressed.png") top left;
	background-repeat : repeat-x;
}

button {
	background : url("images/button.png") top left;
	background-repeat : repeat-x;
}

textarea {
	background : #3c2c4c;
	border : 1px solid black;
	color : #b077ec;
}

select {
	padding : 2px 0px 2px 4px;
}

div.headlines_normal {
	border-color : #404040;
	background : #202020;
}

div.headlines_cdm {
	border-color : #404040;
	background : #202020;
}

div#headlinesInnerContainer {
	background : #202020;
}

div.headlinesSubToolbar {
	background : #404040;
	color : #f0f0f0;
}

#resize-grabber {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #3c2c4c;
	background : #3c2c4c;
}

#content-frame {
	border-color : #404040;
}

#content-insert {
	background : #303030;
}

.evenUnreadSelected, .evenSelectedUnread, .evenUnreadSelected td,
	.evenSelectedUnread td {
	background-color : #3c2c4c;
	font-weight : bold;
	border-color : #404040;
}

.oddUnreadSelected, .oddSelectedUnread, .oddUnreadSelected td,
	.oddSelectedUnread td {
	background-color : #3c2c4c;
	font-weight : bold;
	border-color : #404040;

}

.evenSelected, .evenSelected td {
	background-color : #3c2c4c;
	border-color : #404040;
}

.oddSelected, .oddSelected td {
	background-color : #3c2c4c;
	border-color : #404040;
}

.evenGrayed, .evenGrayed td {
	background-color : #303030;
	color : gray;
	border-color : #404040;
}

.oddGrayed, .oddGrayed td {
	border-color : #404040;
}

.oddGrayed {
	color : gray;
	background-color : #404040;
}

.even, .even td {
  	border-color : #404040;
	background-color : #404040;
}

.odd, .odd td {
	background-color : #303030;
	border-color : #202020;
}

.evenUnread, .evenUnread td {
	background-color : #404040;
	font-weight : bold;
	border-color : #404040;
}

.oddUnread, .oddUnread td {
	font-weight : bold;
	border-color : #404040;
	background-color : #303030;
}

ul.feedList li.feedCatSelected {
	color : #b077ec;
}

ul.feedList li.feedCatSelected span.catTitle {
	color : #b077ec;
}

ul.feedList li.feedCat {
	color : #b077ec;
}

ul.feedList li.feedCat span.catTitle:hover {
	color : #b077ec;
}

ul.feedList li.feedCat span.catTitle {
	color : #b077ec;
}

ul.feedCatList li {
	color : gray;
}

#prefContentOuter {
	background : #404040;
	border-color : #404040;
}

#prefContent {
	background : #404040;
	color : gray;

}

div.prefsTab {
	border-color : #404040;
	color : gray;
}

div.prefsTabSelected {
	border-color : #404040;
	background : #404040;
	color : gray;
}

div.topLinks a {
	color : #b077ec;	
}

div.topLinks a:hover {
	color : gray;
}

li.feedSelected a,
li.labelSelected a,
li.virtSelected a,
li.tagSelected a {
	color : #b077ec;
}

li.feedUnreadSelected a,
li.labelUnreadSelected a,
li.virtUnreadSelected a,
li.tagUnreadSelected a {
	color : #b077ec;
}

span.contentPreview:hover, td.hlContent a:hover {	
	color : #b077ec;
}

.catCtrHasUnread, .feedCtrHasUnread {
	color : #8752c2;
}

span#headlineActionsDrop {
	border : 1px solid black;
	color : #b077ec;
	background : #3c2c4c;
}

ul#headlineActionsBody {
	background-color : #3c2c4c;
	border-color : black;
}

ul#headlineActionsBody li {
	color : #b077ec;
}

ul#headlineActionsBody li:hover {
	color : white;
	background : #b077ec;
}

ul#headlineActionsBody li.insensitive {
	color : white;
}

ul#headlineActionsBody li.insensitive:hover {
	background : #3c2c4c;
	color : white;
}

optgroup {
	color : white;
}

#infoBoxTitle {
	border-color : #404004;
	background : #404040;
	color : gray;
	text-shadow : #202020 0px 1px 0px;
}


#infoBox {	
	border-color : #202020;
	background : #202020;
	color : gray;
}

div.infoBoxContents a {
	color : gray;
}

div.infoBoxContents a:hover {
	color : #b077ec;
}

div.notice {
	background : #202020;
	border : 1px solid #404040;
	color : gray;
}

.notify, .notifyInfo, .notifyProgress {
	border-color : #b077ec;
	background-color : #3c2c4c;
	color : gray;
}

div.tagCloudContainer {
	border : 1px solid #404040;
	background : #303030;
}

div.tagCloudContainer a:hover {
	color : #b077ec;
}

#dispSwitch a:hover {
	color : #b077ec;
}

div.postReply {
	color : gray;
}

div.postReply a {
	color : gray;
}

div.postReply a:hover {
	color : #b077ec;
}

div.postReply div.postHeader {
	background : #3c2c4c;
	border-color : #202020;
	margin : 0px;
}

div.postReply > div.postHeader {
	padding : 5px;
}

#dialog_overlay {
	background-image : url("images/shadow_dark.png");
}

div#cmdline {
	background-color : #3c2c4c;
	border : 1px solid #b077ec;
	padding : 3px 5px 3px 5px;
	z-index : 5;
	color : #b077ec;
}

table.prefFilterList tr.even:hover td, 
table.prefFilterList tr.odd:hover td,
table.prefFilterList tr.evenSelected:hover td, 
table.prefFilterList tr.oddSelected:hover td 
table.prefLabelList tr.even:hover td, 
table.prefLabelList tr.odd:hover td,
table.prefLabelList tr.evenSelected:hover td, 
table.prefLabelList tr.oddSelected:hover td,
table.prefUserList tr.even:hover td, 
table.prefUserList tr.odd:hover td,
table.prefUserList tr.evenSelected:hover td, 
table.prefUserList tr.oddSelected:hover td,
table.prefFeedList tr.even:hover td, 
table.prefFeedList tr.odd:hover td,
table.prefFeedList tr.evenSelected:hover td, 
table.prefFeedList tr.oddSelected:hover td
{
	color : #b077ec;
}

table.headlinesList tr.feedTitle td a, div.cdmFeedTitle a {
	color : gray;
}

table.headlinesList tr.feedTitle td {
	background : #efefef;
}

tr.title td {
	color : gray;
	font-weight : bold;
	border-color : #202020;
}

tr.title td a {
	color : gray;
}

tr.title td a:hover {
	color : #b077ec;
}

table.prefFeedList td.feedEditCat {
	border-color : #202020;
	color : #f0f0f0;
}

table.prefFilterList td.filterEditCat {
	border-color : #202020;
	color : #f0f0f0;
}

ul.browseFeedList, ul.userFeedList {
	border : 1px solid #404040;
	background : #303030;
}

div.prefFeedCatHolder {
	border : 1px solid #404040;
	background-color : #303030;
}

#debug_output {
	background-color : #202020;
	border : 1px solid #b077ec;
	color : gray;
}

span.debugTS {
	color : #b077ec;
}

div.cdmArticle {
	border-color : #202020;
	background : #404040;
	color : gray;
}

div.cdmArticleUnread {
	border-color : #202020;
	background : #404040;
	color : gray;
}

div.cdmArticleUnread div.cdmHeader {
	background : transparent;
	background-repeat : repeat-x;
	color : gray;
}

div.cdmArticleUnread div.cdmHeader span.titleWrap a {
	color : white;
}

div.cdmArticleUnreadSelected div.cdmHeader span.titleWrap a {
	color : white;
}

div.cdmArticleSelected, div.cdmArticleUnreadSelected {
	border-color : #404040;
	background : #3c2c4c;
	color : gray;
}

div.cdmArticleSelected div.cdmFooter, div.cdmArticleUnreadSelected div.cdmFooter {
	background : gray;
}

div.cdmArticleUnread div.cdmHeader a.title, 
div.cdmArticleUnreadSelected div.cdmHeader a.title {
	color : gray;
}

div.cdmHeader a.title {
	color : gray;
}

div.cdmHeader a:hover {
	color : #3c2c4c;
}

div.cdmFooter {
	background : #303030;
	color : gray;
}

div.cdmContent a {
	color : #b077ec;
}

div.cdmContent a:hover {
	color : #3c2c4c;
}

::-moz-selection {
	background : #3c2c4c;
	color : white;
}

::selection {
	background : #3c2c4c;
	color : white;
}

code::-moz-selection {
	background: #3c2c4c;
}

code::selection {
	background: #3c2c4c;
}

div.whiteBox {
	color : gray;
	background : #202020;
}

table.prefPrefsList tr:hover td.prefValue {
	color : #b077ec;
}

table.prefPrefsList tr:hover td.prefValue input {
	color : #b077ec;
}

span.groupPrompt {
	color : #b077ec;
}

div.labelColorIndicator {
	border-color : #202020;
}

div.colorPicker div.colorPickerEntry:hover {
	border : 1px solid #b077ec;
}

div.colorPicker div.ccPrompt:hover {
	color : #b077ec;
}

div.colorPicker div.colorPickerEntry {
	border : 1px solid #202020;
}

div.colorPicker {
	border : 1px solid #202020;
	background : #404040;
	color : gray;
}

