body {
	margin : 2em;
	padding : 0em;
	font-family : sans-serif;
	font-size : 12px;
}

.floatingLogo {
	float : right;
}

a {
	color : #4684ff;
	text-decoration : none;
}

a:hover {
	color : black;
}

h1 {
	color : #88b0f0;
	font-size : 18px;
}

h2 {
	color : gray;
	font-size : 16px;
}


