Source: tt-rss
Section: web 
Priority: extra
Maintainer: Andrew Dolgov <cthulhoo@gmail.com>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://tt-rss.org/

Package: tt-rss-common
Architecture: any
Depends: php5, ${misc:Depends}
Description: Tiny Tiny RSS is a web-based news feed (RSS/Atom)
 aggregator, designed to allow you to read news from any location,
 while feeling as close to a real desktop application as possible.

Package: tt-rss-mysql
Architecture: any
Depends: tt-rss-common (= ${source:Version}), php5, php5-mysql, apache2, mysql-server, dbconfig-common, ${misc:Depends}
Suggests: php-apc
Conflicts: tt-rss-pgsql
Description: Tiny Tiny RSS is a web-based news feed (RSS/Atom)
 aggregator, designed to allow you to read news from any location,
 while feeling as close to a real desktop application as possible.

Package: tt-rss-pgsql
Architecture: any
Depends: tt-rss-common (= ${source:Version}), php5, php5-pgsql, apache2, postgresql, dbconfig-common, ${misc:Depends}
Suggests: php-apc
Conflicts: tt-rss-mysql
Description: Tiny Tiny RSS is a web-based news feed (RSS/Atom)
 aggregator, designed to allow you to read news from any location,
 while feeling as close to a real desktop application as possible.
