body {
	background : #192025;
	color : #8BB6C6;
	margin : 0px;
	padding : 0px;
	font-family : "Lucida Grande", Arial, sans-serif;
}

option {
	color : #8BB6C6;
}

button[disabled], input[disabled], select[disabled], textarea[disabled] {
	background : #404040;
	color : gray;
}

input, select, button {
	background : #1e2a32;
	border : 1px solid black;
	color : #8BB6C6;
	padding : 2px 4px 2px 4px;
}

button:active {
	background : #FF5500;
}

button {
}

textarea {
	background : #171D22
	border : 1px solid black;
	color : #8BB6C6;
}

select {
	padding : 2px 0px 2px 4px;
}

blockquote {
	border-width : 0px 0px 0px 4px;
	border-color : #8BB6C6;
	border-style : solid;
	background-color : #1e2a32;
}

/*div.postReply a {
	color : #8BB6C6;
}*/

div.postReply a:hover {
	color : #ff6c00;
}

div.postReply div.postHeader {
	background : #1e2a32;
	border-width : 0px 0px 1px 0px;
	border-style : dotted;
	border-color : #29353D; 
	margin : 0px 1px 0px 0px;
	padding : 5px;
	cursor : move;
}

div.postReply div.postContent {
	padding : 10px;
	font-size : 14px;
}

div.postReply div.postEnclosures {
	margin-top : 1em;
	color : gray;
}

div.postReply span.author {
	font-size : 12px;
}

ul.feedList li.feedCat {
	margin : 0px;
	padding : 3px 0px 3px 0px;
	color : #707070;
	font-size : 12px;
}

ul.feedList li.feedCat a {
	color : #707070;
}

ul.feedList li.feedCat a:hover {
	color : #4684ff;
}

ul.feedList li.feedCatSelected {
	margin : 0px;
	padding : 3px 0px 3px 0px;
	color : #4684ff;
	font-size : 12px;
}

ul.feedList li.feedCatSelected a {
	color : #4684ff;
}

ul.feedCatList {
	list-style-type : none;
	margin : 0px 0px 0px 15px;
	padding : 0px;  
}

ul.feedCatList li {
	margin : 0px;
	padding : 0px 0px 2px 0px;
	color : #8BB6C6;
}

ul.feedList > li {
	padding : 0px 0px 2px 0px;
}

li.feedUnread, 
li.errorUnread, 
li.labelUnread, 
li.virtUnread,
li.tagUnread {
	font-weight : bold;
}

li.errorSelected a,
li.error a,
li.errorUnread a,
li.errorUnreadSelected a {
	color : #f04040;
}

li.feedSelected a,
li.labelSelected a,
li.virtSelected a,
li.tagSelected a {
	color : #4684ff;
}

li.feedUnreadSelected a,
li.labelUnreadSelected a,
li.virtUnreadSelected a,
li.tagUnreadSelected a {
	color : #4684ff;
}

li.feedUnreadSelected,
li.errorUnreadSelected,
li.labelUnreadSelected,
li.virtUnreadSelected,
li.tagUnreadSelected {
	font-weight : bold;
}

li.feed {
	display : block;
}

h1 {
	font-size : 18px;
}

h2 {
	font-size : 16px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
}

h3 {
	font-size : 14px;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
}

hr {
	border-width : 0px 0px 1px 0px;
	border-style : dashed;
	border-color : #e0e0e0;
}

a {
	color : #8BB6C6;
	text-decoration : none;
}

a:hover {
	color : #00FF00;
}

#notify {
	border-width : 1px;
	border-style : solid;
	top : 10px;
	right : 35%;
	min-width : 30%;
	position : absolute;	
	display : none;
	float : right;
	font-size : 12px;
	z-index : 998;
	-moz-border-radius : 2px;
	padding : 5px 5px 5px 5px;
}

#notify img {
	vertical-align : middle;
}

.notifyProgress {
	border-color : #FFAA00;
	background-color : #FF5500;
	font-size : 14px;
	font-weight : bold;
	color : #FFAA00;
}

.notifyInfo {
	border-color : #7AD78E;
	background-color : #D5FFDB;
	color : #8BB6C6;
}

.notify {
	border-color : #d7c47a;
	background-color : #FF5500;
	color : #8BB6C6;
}

.notifyError {
	background-color : #ffcccc;
	border-color : #ff0000;
	color : #8BB6C6;
}

.notifyError span:hover {
	color : red;
	cursor : pointer;
}

#dispSwitch {
	font-size : 12px;
	margin : 5px 5px 0px 0px;
}

#dispSwitch a {
	color : gray;
}

#dispSwitch a:hover {
	color : #4684ff;
}

div.expPane {
	margin : 15px;
}

.evenUnreadSelected, .evenSelectedUnread, .evenUnreadSelected td,
	.evenSelectedUnread td {
	background-color : #192025;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #FFFFAA;
}

.oddUnreadSelected, .oddSelectedUnread, .oddUnreadSelected td,
	.oddSelectedUnread td {
	background-color : #192025;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #FFFFAA;
}

.evenSelected, .evenSelected td {
	background-color : #192025;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #FFFFAA;
	border-collapse : collapse;
}

.oddSelected, .oddSelected td {
	background-color : #192025;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #FFFFAA;
	border-collapse : collapse;
}

.evenGrayed, .evenGrayed td {
	background-color : #202A30;
	color : #909090;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	border-collapse : collapse;
}

.oddGrayed {
	color : #909090;
}

.even, .even td {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	background-color : #202A30;
	border-collapse : collapse;
}

.odd, .odd td {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	border-collapse : collapse;
}

.evenUnread, .evenUnread td {
	background-color : #202A30;
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	border-collapse : collapse;
}

.oddUnread, .oddUnread td {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
}

.invisible {
	display : none;
}

/* preferences */

table.prefPrefsList tr:hover td.prefValue {
	color : #88b0f0;
}

table.prefPrefsList tr:hover td.prefValue input {
	color : #88b0f0;
}

tr.title td {
	border-width : 0px 0px 1px 0px;
	border-color : #29353D;
	border-style : solid;
	color : #4684ff;
}

tr.title td a {
	color : #4684ff;
}

tr.title td a:hover {
	color : #00FF00;
}

div.feedEditSearch {
	float : right;
}

table.prefFeedList td.feedEditCat {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	padding-top : 0.5em;
}

table.prefFilterList td.filterEditCat {
	font-weight : bold;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	padding-top : 0.5em;
}

/* oh for the love of... */

table.prefFilterList tr.even,
table.prefFilterList tr.odd,
table.prefFilterList tr.evenSelected,
table.prefFilterList tr.oddSelected,
table.prefLabelList tr.even,
table.prefLabelList tr.odd,
table.prefLabelList tr.evenSelected,
table.prefLabelList tr.oddSelected,
table.prefUserList tr.even,
table.prefUserList tr.odd,
table.prefUserList tr.evenSelected,
table.prefUserList tr.oddSelected,
table.prefFeedList tr.even,
table.prefFeedList tr.odd,
table.prefFeedList tr.evenSelected,
table.prefFeedList tr.oddSelected
{	
	cursor : pointer;
}

table.prefFilterList tr.even:hover td, 
table.prefFilterList tr.odd:hover td,
table.prefFilterList tr.evenSelected:hover td, 
table.prefFilterList tr.oddSelected:hover td 
table.prefLabelList tr.even:hover td, 
table.prefLabelList tr.odd:hover td,
table.prefLabelList tr.evenSelected:hover td, 
table.prefLabelList tr.oddSelected:hover td,
table.prefUserList tr.even:hover td, 
table.prefUserList tr.odd:hover td,
table.prefUserList tr.evenSelected:hover td, 
table.prefUserList tr.oddSelected:hover td,
table.prefFeedList tr.even:hover td, 
table.prefFeedList tr.odd:hover td,
table.prefFeedList tr.evenSelected:hover td, 
table.prefFeedList tr.oddSelected:hover td
{
	color : #00FF00;
}

table.prefFeedList td.feedIcon {
	text-align : center;
}

table.prefFeedList td.feedSelect {
	text-align : center;
}

div.prefFeedCatHolder {
	height : 250px;
	overflow : auto;
	border : 1px solid #29353D;
	margin : 5px 0px 5px 0px;
	background-color : #171D22;
}

a.helpLink {
	color : #808080;
}

a.helpLink:hover {
	color : #4684ff;
}

div.helpResponse {
	margin : 10px;
	background-image : url("images/vgrad_light_rev2.png");
	background-position : top left;
	background-repeat : repeat-x;
	padding : 10px 20px 10px 20px;
	border : 1px solid #29353D;
}

#infoBoxTitle {
	border-color : #29353D;
	background-color : #29353D;
}

/* shadow stuff from http://www.sixapart.com/pronet/articles/ydsf_-_robust_c.html */

#infoBox {	
	border-color : #29353D;
	background-color : #192025;
}

div.infoBoxContents a {
	color : #527040;
}

div.infoBoxContents a:hover {
	color : #ff6c00;
}

div.helpResponse h1, div.infoBoxContents h1 {
/*        border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0; */
	font-size : 18px;
}

div.helpResponse h2, div.infoBoxContents h2 {
/*        border-width : 0px 0px 0px 0px; */
	font-size : 16px;
}

pre {
	margin : 5px;
}

input.extSearch {
	width : 100%;
}

div.firstTab {
	width : 10px;
	float : left;
}

div.prefsTab:hover {
	cursor : pointer;
}

div.prefsTabSelected:hover {
	cursor : pointer;
}

div.prefsTab {
	border-width : 1px 1px 0px 1px;
	border-color : #29353D;
	border-style : solid;
	border-collapse : collapse;
}

div.prefsTabSelected {
	border-width : 1px 1px 0px 1px;
	border-color : #29353D;
	border-style : solid;
	background-color : #192025;
	color : #ff6c00;
	font-weight : bold;
}

div.notice {
	background : #171D22;
	border : 1px solid #29353D;
	width : 60%;
	padding : 5px;
	margin : 0px 0px 5px 0px;
	font-size : 12px;
}

div.warning {
	background : #FF5500;
	border : 1px solid #d7c47a;
	font-size : 12px;
	width : 60%;
	padding : 5px;
	margin : 0px 0px 5px 0px;
}


div.warning img, div.notice img, div.error img {
	vertical-align : middle;
	padding : 5px;
}

div.error {
	border : 1px solid #ff0000;
	background : #ffcccc;
	color : #FF0000;
	padding : 5px;
	margin : 0px 0px 5px 0px;
	font-size : 12px;
}

ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px; 
}

div.prefHelp, td.prefHelp {
	color : gray;
	padding : 5px;
}

table.loginForm {
	background-color : #171D22;
}

table.innerLoginForm {
	border : 1px solid #29353D;
	padding : 50px;
	background-color : #171D22;
}

table.innerLoginForm td {
	padding : 3px 3px 5px 3px;
}

span.feed_error {
	color : red;
}

.insensitive {
	color : gray;
}

.insensitive a {
	color : #4684ff;
}

.insensitive a:hover {
	color : #ff6c00;
}

/* .prefGenericAddBox {
	font-size : 12px;
} */

body.logoutBody {
	background-color : #171D22;
	color : #8BB6C6;
}

span.logoutWarning {
	color : red;
	font-weight : bold;
}

div.logoutContent {
	width : 600px;
	border : 1px solid #29353D;
	background-color : #171D22;
	margin-left : auto;
	margin-right : auto;
	margin-top : 20px;
	padding : 10px;
}

.small {
	font-size : 12px;
}

table.innerFeedTable td {
	margin : 0px;
	padding : 0px;
}

td.selectPrompt {
	font-size : 12px;
	color : gray;
}

div.headlinesSubToolbar {
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #171D22;
	position : absolute;
	left : 0px;
	top : 0px;
	height : 25px;
	right : 0px;
	background : #171D22;
	font-size : 11px;
	color : gray;
}

input#subtoolbar_search_box {
	height : 10px;
	font-size : 9px;
	vertical-align : middle;
}

table.headlinesSubToolbar td.headlineActions {
	padding : 0px 5px 0px 5px;
}

table.headlinesSubToolbar td.headlineActionsRTL {
	padding : 0px 5px 0px 5px;
}

table.headlinesSubToolbar td.headlineTitle {
	padding : 0px 5px 0px 5px;
	text-align : right;
}

table.headlinesSubToolbar td.headlineTitleRTL {
	padding : 0px 5px 0px 5px;
	text-align : left;
}

span.contentPreview {
	font-size : 12px;
	color : gray;
	font-weight : normal;
}

span.contentPreview:hover {
	color : #4684ff;
}

table.headlinesList {
	width : 100%;
}

table.headlinesList td.hlFeedIcon {
	width : 25px;
	text-align : center;
	cursor : pointer;
}


table.headlinesList td.hlMarkedPic {
	width : 25px;
	text-align : center;
}

table.headlinesList td.hlfeed {
	text-align : right;
}

td.hlSelectRow, td.hlUpdPic {
	width : 25px;
	text-align : center;
}

table.headlinesList td.hlUpdated {
	color : gray;
	text-align : right;
	width : 100px;
	cursor : pointer;
}

table.headlinesList tr td {
	padding : 2px 0px 2px 0px;
}

div.postHeader div.postDate {
	text-align : right;
	color : gray;
	float : right;
}

div.postHeader div.postDateRTL {
	text-align : left;
	color : gray;
	float : right;
}

div.postReply span.tagList {
	color : gray;
}

div.postHeader div {
	padding-bottom : 3px;
	font-size : 12px;
}

#feedUpdateErrors {
	display : none;
}

#allEntryTags {
	font-size : 12px;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	padding-bottom : 5px;
	display : none;
}

/*td.hlContent {
	overflow : hidden;
	height : 1em;
	display : block;
} */

td.hlMarkedPic, td.hlSelectRow, td.hlUpdated, td.hlFeed {
	height : 1em;
}

td.hlFeed {
	text-align : right;
}

span.hlFeed, span.hlFeed a {
	font-size : 12px;
	color : gray;
}

span.hlFeed a:hover {
	color : #4684ff;
}

/* div.cdmArticle:hover {
	background-color : #171D22;
} */

div.cdmAllTags {
	float : left;
	background-color : #171D22;
	border : 1px solid #29353D;
	display : none;
	z-index : 3;
	top : auto;
	left : auto;
	right : auto;
	position : absolute;
	padding : 10px;
}

span.cdmAllTagsCtr:hover div {
	display : block;
}

div.cdmArticle {
	border-color : #a0a0a0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	background-color : #202A30;
	margin : 0px;
	color : #505050;
	/* padding : 10px; */
	color : #8BB6C6;

}

/* div.cdmArticleUnread:hover {
	background-color : #171D22;
} */

div.cdmArticleUnread {
	border-color : #29353D;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	background-color : #171D22;
	margin : 0px;
	/* padding : 10px; */
	color : #8BB6C6;
}

div.cdmArticleSelected, div.cdmArticleUnreadSelected {
	margin : 0px;
	background-color : #192025;
	border-color : #FFFFAA;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
}

div.cdmArticleUnread div.cdmHeader a.title, 
div.cdmArticleUnreadSelected div.cdmHeader a.title {
	font-weight : bold;
}

div.cdmHeader {
	padding : 5px 5px 10px 5px;
	color : gray;

}

div.cdmArticleUnread div.cdmHeader span.titleWrap a {
	color : #ff6c00;
}

div.cdmFooter {
	font-size : 12px;
	color : #8BB6C6;
	padding : 5px;
	color : gray;
/*	background-color : white; */
	border-width : 1px 0px 0px 0px;
	border-color : #29353D;
	border-style : dotted;
}

/*div.cdmArticleSelected div.cdmFooter {
	background-color : transparent;
}

div.cdmArticleUnreadSelected div.cdmFooter {
	background-color : transparent;
}*/

div.cdmFooter span.s0 {
	border-width : 0px 1px 0px 0px;
	border-color : #29353D;
	border-style : dotted;
	padding : 0px 5px 0px 0px;
}

div.cdmFooter span.s1 {
	border-width : 0px 1px 0px 0px;
	border-color : #29353D;
	border-style : dotted;
	padding : 0px 5px 0px 5px;
}

div.cdmFooter span.s2 {
	padding : 0px 5px 0px 5px;
}

div.cdmFooter img.markedPic, div.cdmFooter img.tagsPic {
	width : 16px;
	height : 16px;
	vertical-align : middle;
}

img.markedPic {
	cursor : pointer;
}

div.cdmHeader div.articleUpdated {
	float : right;
	font-weight : bold;
	color : gray;
}

div.cdmHeader div.articleUpdated img {
	vertical-align : middle;
}

div.cdmFooter input, div.cdmHeader input, div.cdmFooter img {
	margin : 0px;
}

div.cdmHeader, div.cdmHeader a {
	color : #505050;
	font-size : 12px;
}

div.cdmHeader a:hover {
	color : #4684ff;
}

div.cdmContent {
	margin : 0px 15px 5px 15px;
}

div.cdmContent:hover {
	cursor : pointer;
}

div.cdmExcerpt {
	margin : 0px 15px 5px 15px;
}

div.cdmExcerpt:hover {
	cursor : pointer;
	color : #88b0f0;
}

div.cdmEnclosures {
	margin-top : 1em;
	color : gray;
}

a.warning {
	color : #f04040;
}

img.closeButton {
	border-width : 0px;
	float : right;
}

span.groupPrompt {
	font-size : 12px;
	color : #4684ff;
}

div.tagCloudContainer {
/*	height : 300px;
	overflow : auto; */
	border : 1px solid #29353D;
	background-color : #171D22;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
}

ul.feedErrorsList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #29353D;
	background-color : #171D22;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

ul.userFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #29353D;
	background-color : #171D22;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

/* #browseBigFeedList li.oddSelected {
	border : 1px solid #d0d0f6;
	background-color : #eaeaff;
	-moz-border-radius : 5px;
} */

/*#browseBigFeedList li {
	padding :0px;
}*/

div.labelTestError {
	margin : 5px 0px 5px 0px;
	color : #f04040;
}

ul.labelTestResults {
	height : 100px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border : 1px solid #29353D;
	background-color : #171D22;
}

ul.filterTestResults {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border : 1px solid #29353D;
	background-color : #171D22;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	border : 1px solid #29353D;
	background-color : #171D22;
}

ul.browseFeedList li {
	margin : 0px;
	padding : 0px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

input.feedBrowseCB {
	margin-right : 1em;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

div.browserFeedInfo {
	font-size : 12px;
/*	border : 1px solid #88b0f0;
	background-color : #ecf4ff;
	-moz-border-radius : 5px; */
	padding : 5px;
}

div.browserFeedInfo div.detailsPart {
	margin : 5px 0px 5px 5px;       
}

div.cdmContent a {
	color : #4684ff;
}

div.cdmContent a:hover {
	color : #00FF00;
}

a.cdmToggleLink {
	color : #808080;
	font-size : 12px;
}

a.cdmToggleLink:hover {
	color : #00FF00;
}

.noborder {
	border-width : 0px;
}

#debug_output {
	position : absolute;
	width : 400px;
	height : 200px;
	right : 20px;
	bottom : 20px;
	z-index : 999;
	background-color : #171D22;
	border : 1px solid #29353D;
	overflow : auto;
	margin : 0px;
	padding : 0px;
	list-style-type : none;
}

#debug_output li {
	margin : 0px;
	padding : 0px;
	font-size : 11px;
}

#dialog_overlay {
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 4;
	position : absolute;
	background-image : url("images/shadow_dark.png");
}

#overlay {
	background : #171D22;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 100;
	position : absolute;
}

#overlay_inner {
	font-weight : bold;
	margin : 10px;
}

#fatal_error {
	background : #171D22;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 200;
	display : none;
	position : absolute;
}

#fatal_error_inner {
	font-weight : bold;
	margin : 10px;
	color : red;
}

#fatal_error_msg {
	color : #8BB6C6;
	padding : 10px;
	font-weight : normal;
	background-color : #ffcccc;
	border : 1px solid #ff0000;
}

#fatal_error_msg a {
	color : red;
}

#fatal_error_msg a:hover {
	color : red;
	text-decoration : underline;
}

#fatal_error_msg img {
	vertical-align : middle;
}

#noDaemonWarning {	
	position : absolute;
	background-color : #171D22;		  
	border : 1px solid #29353D;
	padding : 10px;
	margin : 5px;
	z-index : 2;
	display : none;
}

#qafInput {
	width : 100%;
}

form {
	margin : 0px;
	padding : 0px;
}

#main_toolbar_form {
	margin : 0px;
	padding : 0px;
	display : inline;
}

div.feedExtInfo {
	margin-left : 2em;
	font-size : 7pt;
	color : gray;
	font-weight : normal;
}

span.debugTS {
	color : #4684ff;
}

#backReqBox {
	display : none;
}

/*.scriptWarn:before {
	content : "Disabled script:";
}*/

.scriptWarn {
	color : white;
	background-color : #903030;
	border : 1px solid #601010;
	padding : 3px;
	font-weight : bold;
	display : none;
}

.objectWarn {
	color : gray;
	font-style: italic;
	text-align : center;
}

table.loginForm2 {
	padding : 1em;
}

table.loginForm2 .loginTop {
	border-width : 0px 0px 1px 0px;
	border-color : #29353D;
	border-style : solid;
	padding : 0.5em;
}

table.loginForm2 .loginMiddle {
	padding : 3em;
}

table.loginForm2 .loginBottom {
	border-width : 1px 0px 0px 0px;
	border-color : #29353D;
	border-style : solid;
	font-size : 12px;
	text-align : center;
	color : #909090;
	padding : 0.5em;
}

table.loginForm2 .loginBottom a {
	color : gray;
}

table.loginForm2 .loginBottom a:hover {
	color : #FF5500;
}

table.loginForm2 .loginError {
	color : red;
	margin : 0.5em;
}

table.loginForm2 .innerLoginCell {
	padding-top : 0.5em;
}

#milestoneDetails {
	display : none;
}

div.loadingPrompt {
	padding : 1em;
	text-align : center;
	font-weight : bold;
}

div.whiteBox {
	background-color : #171D22;
	margin-left : 1px;
	text-align : center;
	padding : 1em;
}

/* layout */

#header {
	position : absolute;
	white-space: nowrap;
	top : 10px;
	left : 15px;
	right : 5px;
	height : 40px;
	color : #4684ff;
	font-size : 12px;
}

#feeds-holder {
	border-width : 1px 1px 0px 0px;
	border-style : solid;
	border-color : #29353D;
	top : 50px;
	left : 0px;
	position : absolute;
	width : 260px;
	overflow : auto;
	bottom : 0px;
	border-collapse : collapse;
}

#toolbar {
	position : absolute;
	left : 261px;
	padding : 5px 10px 5px 10px;
	top : 50px;
	right : 0px;
	white-space: nowrap;
	height : 30px;
	background-image : url("images/toolbar.png");
	background-position : bottom left;
	background-repeat : repeat-x;
	font-size : 12px;
}

div.headlines_normal {
	position : absolute;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #29353D;
	left : 261px;
	height : 305px;
	top : 85px;
	right : 0px;
	overflow : hidden;
	font-size : 12px;
	border-collapse : collapse;
}

div.headlines_cdm {
	position : absolute;
	border-width : 1px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	left : 261px;
	bottom : 40px;
	top : 85px;
	right : 0px;
	overflow : hidden;
	font-size : 12px;
	border-collapse : collapse;
}

#content-frame {
	position : absolute;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #29353D;
	overflow : auto;
	top : 390px;
	left : 261px;
	bottom : 40px;
	right : 0px;
	border-collapse : collapse;
}

#resize-grabber {
	height : 5px;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #29353D;
	background : #1e2a32;
	cursor : move;
	text-align : center;
}

#footer, #prefFooter {
	position : absolute;
	bottom : 0px;
	height : 20px;
	text-align : center;
	color : #8BB6C6;
	font-size : 12px;
	background-image : url("images/footer.png");
	background-position : top left;
	background-repeat : repeat-x; 
	background-color : #171D22;
	right : 0px;
	left : 261px;
	padding : 10px;
	border-collapse : collapse;
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	border-color : #29353D;

}

#prefFooter {
	left : 0px;
}

#footer a, #prefFooter a {
	color : #8BB6C6;
}

#footer a:hover, #prefFooter a:hover {
	color : #ff6c00;
}

#headlinesContainer {
	margin-left : 0px;
	background-color : #171D22;
}

#headlineActionsTop {
/*	border-width : 0px 0px 1px 0px;
	border-style : solid;
	border-color : #c0c0c0;
	background-color : #fafafa; */
	font-size : 12px;
}

#headlinesInnerContainer {
	overflow : auto;
	position : absolute;
	left : 0px;
	right : 0px;
	bottom : 0px;
	top : 25px; 
}

/* preferences layout */

#prefHeader {
	color : #4684ff;
	font-size : 12px;
	margin : 10px;
	height : 33px;
}

div.return {
	float : right;
	font-size : 12px;
	margin-right : 10px;
}

div.return a {
	color : #4684ff;
}

div.return a:hover {
	color : #ff6c00;
}

#prefContentOuter {
	border-color : #29353D;
	border-style : solid;
	font-size : 12px;
}

#prefContent {
	background-image : url("images/prefs-content.png");
	background-position : top left;
	background-repeat : repeat-x;
}

.catCtrHasUnread, .feedCtrHasUnread {
	font-weight : bold;
	color : #8BB6C6;
}

.catCtrNoUnread, .feedCtrNoUnread {
	display : none;
}

ul.headlineDropdownMenu {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.headlineDropdownMenu li.top {
	float : left;
	width : 12em;
	background-image : url("images/down_arrow.png");
	background-position : center right;
	background-repeat : no-repeat;
	margin : 0px; 
	cursor : pointer;
	border-width : 1px 1px 1px 1px;
	border-color : transparent;
	border-style : solid;
}

ul.headlineDropdownMenu li.top2 {
	float : left;
}

ul.headlineDropdownMenu li.top3 {
	float : left;
	margin : 0px; 
	cursor : pointer;
	border-width : 1px 1px 1px 1px;
	border-color : transparent;
	border-style : solid;
}

ul.headlineDropdownMenu li.vsep {
	float : left;
	margin : 0px 5px 0px 0px;
	border-width : 0px 1px 0px 0px;
	border-color : #29353D;
	border-style : dotted;
	color : white;
}

ul.headlineDropdownMenu li.top:hover {
	cursor : pointer;
	border-width : 1px 1px 1px 1px;
	border-color : #29353D;
	border-style : solid;
}

ul.headlineDropdownMenu li.top:hover ul {
	display : block;
}

ul.headlineDropdownMenu ul {
	list-style-type : none;
	position : absolute;
	float : none;
	margin : 0px;
	padding : 0px;
	display : none;
	background-color : #171D22;
	width : 12em;
	z-index : 3;
	top : auto;
	left : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #29353D;
	border-style : solid;
	margin-left : -1px;
}

ul.headlineDropdownMenu ul li {
	float: none;
	padding : 2px 0px 2px 10px;
	color : #8BB6C6;
}

ul.headlineDropdownMenu ul li:hover {
	color : #FF6C00;
	background-color : #29353D;
}

table.prefFeedCatList {
	background-color : #171D22;
}

div.autocomplete {
	background-color : #171D22;
	border :1px solid #778899;
}

div.autocomplete ul li.selected { 
	background-color : #192025;
}

div.topLinks {
	color : gray;
}

div.topLinks a {
	color : #4684ff;	
}

div.topLinks a:hover {
	color : #ff6c00;
}

div.topLinks a.feedback {
	color : #009900;
}

a.visibleLink {
	color : #4684ff;

}

table.headlinesList tr.feedTitle td a, div.cdmFeedTitle a {
	color : #4684ff;
}

div.cdmFeedTitle {
	border-color : #a0a0a0;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	padding : 5px 3px 5px 5px;
	background : url("images/toolbar.png") bottom left;
	background-repeat : repeat-x;
}

table.headlinesList tr, table.headlinesList td {
	border-collapse : collapse;
	margin : 0px;
}

table.headlinesList tr.feedTitle td {
	background : url("images/toolbar.png") bottom left;
	background-repeat : repeat-x;
	border-color : #29353D;
	border-width : 0px 0px 1px 0px;
	border-style : solid;
	padding : 5px 3px 5px 5px;

}

td.hlContent, td.hlContentL, td.hlContentH {
	cursor : pointer;
}

td.hlContentH a, td.hlContentH span {
	color : #00cc00;
}

td.hlContentL a, td.hlContentL span {
	color : #909090;
	text-decoration : line-through;
}

span.titleWrapH, span.titleWrapH a {
	color : #00cc00;
}

span.titleWrapL, span.titleWrapL a {
	color : #909090;
	text-decoration : line-through;
}

img.hlScorePic {
	vertical-align : middle;
	width : 16px;
	height : 16px;
}

div#hotkey_help_overlay {
	color : #8BB6C6;
	font-size : 15px;
}

div#hotkey_help_overlay h1 {
	text-align : center;
}

div#hotkey_help_overlay ul {
	list-style-type : none;
	margin : 0px;
}

div#hotkey_help_overlay li {
	margin : 0px;
}

div#hotkey_help_overlay p {
	text-align : center;
}

div#hotkey_help_overlay td.n {
	text-align : right;
	font-weight : bold;
	width : 6em;
	color : #00FF00;
	padding-right : 5px;
}

div#hotkey_help_overlay td {
	vertical-align : top;
}

div#hotkey_help_overlay h1 {
	margin : 0px;
}

div#hotkey_help_overlay h2 {
	font-size : 16px;
	border-width : 0px;
	margin : 0.3em 0px 0.3em 0px;
	text-align : center;
	color : #FF5500;
}

div#l_progress_o {
	border : 1px solid #29353D;
	background-color : #171D22;
}

div#l_progress_i {
	background-color : #29353D;
}

#content-insert {
	background-color : #171D22;
	overflow : auto;
	position : absolute;
	left : 0px;
	right : 0px;
	bottom : 0px;
	top : 6px; 
}

div.dlgSec {
	font-size : 14px;
	color : gray;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : medium;
	line-height : 200%;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

textarea.labelSQL {
	font-family : monospace;
}

div#label_test_result {
	clear : both;
}
