@import "default.css";

#feeds-holder {
	background : #222;
  	border-color : #666;
}

body#ttrssMain #feedTree .dijitTreeRow {
	color : #ccc;
}

body#ttrssMain.claro .dijitTree .dijitTreeRowHover {
	background : #444;
	border-color : #666;
}

body#ttrssMain.claro .dijitTree .dijitTreeRowSelected {
	background : #555;
	border-color : #666;
}

body#ttrssMain.claro .dijitTreeRowSelected .dijitTreeLabel {
	text-shadow : none;
}

body#ttrssMain #feedTree .counterNode.aux {
	background : #555;
	color : #999;
	border-color : #333;
}

body#ttrssMain #feedTree .counterNode {
	border : 1px solid #6280AD;
	color : white;
	background : #6280AD;
}

body#ttrssMain #headlines-frame {
	background : #333;
	color : white;
}

body#ttrssMain #main-toolbar {
	background : #333;
	border-color : #666;
}

body#ttrssMain #main-toolbar .dijitButtonText {
	color : #ddd;
}

body#ttrssMain #main-toolbar .dijitSelect {
	border-color : #666;
}


body#ttrssMain #main,
body#ttrssMain #overlay {
	background : #333;
	color : white;
}

body#ttrssMain .hlFeed a {
	color : white;
}

body#ttrssMain div.cdm.expanded div.cdmFooter,
body#ttrssMain div.cdm.expandable div.cdmFooter {
	border-color : #666;
	color : #ccc;
}

body#ttrssMain div.cdm.expandable.Selected {
	background : #6280AD;
}

body#ttrssMain div.cdm.expanded.Unread div.cdmHeader a.title,
body#ttrssMain div.cdm.expandable.Unread a.title {
	color : #ccc;
}

body#ttrssMain div.cdm.expanded div.cdmHeader a.title,
body#ttrssMain div.cdm.expandable a.title {
	color : #aaa;
}

body#ttrssMain .cdm.expandable.active,
body#ttrssMain .cdm.expandable {
	border-color : #666;
	background : transparent;
}

body#ttrssMain .cdm.active {
	background : transparent ! important;
}

body#ttrssMain .cdm .cdmContentInner,
body#ttrssMain .cdm .titleWrap {
	color : #bbb;
}

#content-insert blockquote, #headlines-frame blockquote, .dijitContentPane blockquote {
	color : #999;
	border-color : #666;
}

#content-insert code, #headlines-frame code, .dijitContentPane code {
	color : #009900;
}

#content-insert pre, #headlines-frame pre, .dijitContentPane pre {
	color : #999;
	background : black;
}

body#ttrssMain .dijitInputField.dijitButtonText {
	background : #333;
}

body#ttrssMain .cdm .cdmContentInner img,
body#ttrssMain .cdm img.tinyFeedIcon,
body#ttrssMain .cdm .cdmFooter img,
body#ttrssMain #feedTree img {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

body#ttrssMain .cdm .cdmFooter img {
	opacity : 0.6;
}

body#ttrssMain #floatingTitle {
	background : #333;
	border-color : #666;
}

body#ttrssMain #floatingTitle a.title {
	color : #ccc;
}

body#ttrssMain .dijitMenu,
body#ttrssMain .dijitMenuTable,
body#ttrssMain .dijitSelectMenu .dijitMenuItem td {
	border-color : #666;
	background : #666;
}

body#ttrssMain .dijitMenu .dijitMenuItem.dijitHover,
body#ttrssMain .dijitMenu .dijitMenuItem.dijitFocused,
body#ttrssMain .dijitMenuTable .dijitMenuItem.dijitHover .dijitMenuItemLabel,
body#ttrssMain .dijitMenuTable .dijitMenuItem.dijitFocused .dijitMenuItemLabel {
	background : black;
	color : white;
}

